.banner {
    overflow: hidden;

    &__body {
        color: $textColorThird;
        @media (min-width: $mq-lg) {
            display: flex;
        }
    }

    &__text-content {
        position: relative;

        &:before {
            position: absolute;
            content: "";
            top: 0;
            left: 50%;
            transform: translateX(-50%);
            height: 100%;
            width: 100vw;
            background-color: $themeColor;
            z-index: 1;

            @media (min-width: $mq-lg) {
                width: 100%;
            }
        }

        & > * {
            position: relative;
            z-index: 2;
        }

        @media (min-width: 0px) and (max-width: 991.98px) {
            padding: 4rem 0 2rem;
        }

        @media (min-width: $mq-lg) {
            flex: 0 0 34rem;
            padding: 6rem 0 6rem 6rem;
        }

        & .title-2 {
            color: $textColorThird;
        }

        & .category-links__list {
            & .swiper-wrapper {
                gap: 0;

                @media (min-width: 0px) and (max-width: 991.98px) {
                    flex-direction: row;
                }
            }

            & .swiper-slide {
                color: $textColorThird;
                padding-right: 0.6rem;

                @media #{$mouse-device} {
                    & a:hover {
                        color: $hover;
                    }
                }

                & .link-label {
                    font-family: $mainFontFamily;
                    color: $textColorThird !important;
                    display: inline-flex;
                    min-height: 2.1rem;
                    border: 1px solid currentColor;
                    border-radius: 2px;
                    line-height: 1;
                    padding: 0.5rem 1rem;
                    font-size: 1.2rem;
                    margin-left: 1.5rem;
                    font-weight: 300;

                    @media (min-width: 0px) and (max-width: 991.98px) {
                        display: none;
                    }
                }

                &.active {
                    @media (min-width: $mq-lg) {
                        color: $themeColorSecondary;
                    }

                    @media (min-width: 0px) and (max-width: 991.98px) {
                        & a {
                            background-color: $themeColorSecondary;
                        }
                    }
                }

                @media (min-width: $mq-lg) {
                    & a {
                        min-height: 3rem;
                    }
                }

                @media (min-width: 0px) and (max-width: 991.98px) {
                    & a {
                        min-height: 2rem;
                        border-radius: 2px;
                        transition: background-color 0.15s ease;
                        padding: 0.2rem 0.6rem;
                        display: inline-flex;
                        align-items: center;
                        justify-content: center;
                    }
                }
            }
        }
    }

    &__img {
        height: 300px;
        margin-top: 3rem;
        margin-left: -1.5rem;
        margin-right: -1.5rem;

        @media (min-width: $mq-lg) {
            height: 55.8rem;
            margin-left: 0;
            margin-top: 0;
            margin-right: 0rem;
            flex: 1 1 auto;
        }

        @media (min-width: 1440px) {
            margin-right: 0;
        }
    }

    &__images {
        margin-left: -1.5rem;
        margin-right: -1.5rem;
        min-width: 0;

        @media (min-width: $mq-lg) {
            height: 55.8rem;
            margin-left: 0;
            margin-right: 0;
            flex: 1 1 auto;
        }

        & .swiper {
            height: 100%;
            width: 100%;
        }

        & .swiper-slide.ibg {
            @media (min-width: 0px) and (max-width: 991.98px) {
                & img {
                    position: static;
                    height: 300px;
                }
            }
        }

        & .swiper-scrollbar {
            position: absolute;
            top: calc(300px + 2rem);
            left: 50%;
            transform: translateX(-50%) translateY(-50%);
            width: calc(100% - 2rem);

            @media (min-width: $mq-lg) {
                display: none;
            }
        }
    }

    &__footer {
        margin-top: 4rem;
        padding: 0 1rem;

        @media (min-width: $mq-lg) {
            display: none;
        }

        & .button-primary {
            &:hover {
                color: $themeColor !important;
            }
        }
    }

    & .category-links__list a {
        display: block;
        width: 100%;
    }
}

.banner-about {
    & .banner__text-content {
        @media (min-width: 0px) and (max-width: 991.98px) {
            padding: 4rem 0;
        }

        @media (min-width: $mq-lg) {
            flex: 0 0 68.1rem;
            padding-right: 4rem;
            & > * {
                max-width: 45rem;
            }
        }

        & .button-link {
            margin-top: 3rem;
        }
    }

    & .text-content {
        & p {
            &:not(:last-child) {
                margin-bottom: 3rem;
            }
        }
    }
    & .banner__img {
        margin-top: 0;

        @media (min-width: $mq-md) {
            height: 45rem;
        }

        @media (min-width: $mq-lg) {
            height: 60rem;
        }

        & img {
            object-position: top;
        }
    }
}
