.footer-desk {
    @media (min-width: 0px) and (max-width: 991.98px) {
        display: none;
    }
    background-color: $themeColor;
    font-weight: 300;

    &__body {
        display: flex;
        justify-content: space-between;
        gap: 2rem;
        color: $textColorThird;
        padding-top: 5rem;
        padding-bottom: 4rem;
    }

    &__col {
        display: flex;
        flex-direction: column;
        gap: 2rem;
        flex: 1 1 auto;

        &-1 {
            //max-width: 33rem;
        }
        &-2 {
            max-width: 22.2rem;
            gap: 4rem;
        }
        &-3 {
            max-width: 33.8rem;
            gap: 4rem;
        }
        &-4 {
            max-width: 20.9rem;
            gap: 4rem;
        }
    }

    &__logo {
        height: 6.1rem;
        align-self: flex-start;
        & img, & svg {
            height: 100%;
            width: auto;
            display: block;
        }
    }

    &__text {
        max-width: 27rem;
    }

    &__copy {
        margin-top: auto;
        font-size: $text-2;
        max-width: 29.2rem;
        color: rgba($textColorThird, 0.3);
    }

    &__title {
        font-weight: 500;
        font-size: 1.9rem !important;
    }

    &__list {
        padding-left: 0;
        margin-bottom: 0;

        & > li {
            &:not(:first-child) {
                margin-top: 1rem;
            }
        }
    }
}

.footer-mob {
    background-color: $themeColor;
    font-weight: 300;

    @media (min-width: $mq-lg) {
        display: none;
    }

    &__body {
        padding-top: 3rem;
        padding-bottom: 3.5rem;
        color: $textColorThird;
        display: flex;
        flex-direction: column;
        gap: 4rem;
    }

    &__row {
        display: flex;
        flex-direction: column;
        gap: 2rem;
    }

    &__logo {
        height: 4.3rem;
        align-self: flex-start;
        
        & img, & svg {
            height: 100%;
            width: auto;
            display: block;
        }
    }

    &__text {
        max-width: 27.6rem;
    }

    &__cols-2 {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 2rem;
    }

    &__time {
        display: flex;
        justify-content: space-between;
        gap: 1rem;
        flex-wrap: wrap;
    }

    &__title {
        font-weight: 500;
        font-size: 1.6rem;
    }

    &__contacts {
        display: flex;
        justify-content: space-between;
        gap: 1rem;
        flex-wrap: wrap;
    }

    &__vertical-content {
        display: flex;
        flex-direction: column;
        gap: 1rem;
        align-items: flex-end;
        font-size: $text-3;
        justify-content: flex-end;

        & > * {
            align-self: flex-end;
            text-align: end;
        }
    }

    &__copy {
        font-size: $text-1;
        max-width: 30.7rem;
        color: rgba($textColorThird, 0.3);
    }

    & .subscription-form input {
        padding-bottom: 0.2rem;
        &::placeholder {
            color: #929292;
        }
    }
}

.subscription-form {
    display: flex;
    align-items: flex-end;
    flex-wrap: wrap;
    gap: 4rem;
    
    & .wpcf7-form-control-wrap {
        flex: 1 1 auto;

        & input {
            width: 100%;
        }
    }

    & .wpcf7-not-valid-tip {
        display: none;
    }

    & input {
        display: flex;
        align-items: center;
        flex: 1 1 auto;
        outline: none;
        border-radius: 0;
        padding: 0;
        background-color: transparent;
        color: $textColorThird;
        font-size: $text-2;
        border: none;
        border-bottom: 1px solid $textColorThird;
        padding-bottom: 1rem;

        &::placeholder {
            color: rgba($themeColor, .3);
            transition: opacity $transition;
        }

        &:focus {
            opacity: 1;
            &::placeholder {
                opacity: 0;
            }
        }

        &.wpcf7-not-valid {
            border-color: $textColorWarning;

            &::placeholder {
                color: $textColorWarning;
            }
        }
    }

    & button {
        flex: 0 0 auto;
        color: $textColorThird;
    }
}

.wpcf7-response-output {
    display: none;
}

.subscription {
    @media (max-width: 991.98px) {
        display: none;
    }

    &__body {
        display: flex;
        gap: 4rem;
        margin: 0 auto;
		width: calc(100% - 12rem);
		max-width: calc(140rem);
    }

    &__col {
        flex: 0 1 calc(25% - (2rem * 3 / 4));
    }

    &__img {
        height: 100%;
        min-height: 29.6rem;
    }

    &__text-content {
        height: 100%;
        display: flex;
        flex-direction: column;
        gap: 2rem;
    }

    &__text {
        margin-top: auto;
    }

    & .subscription-form {
        flex-direction: column;
        & input {
            color: $textColor;
            border-color: $themeColor;
            width: 100%;
        }

        & button {
            color: $textColor;
            font-size: 1.7rem;
            line-height: 1em;
        }
    }
}

