.checkout {
    &:not(.woocommerce-checkout) {
        padding-top: 3rem;

        @media (min-width: $mq-lg) {
            padding-top: 5rem;
        }
    }

    &__inner {
        display: flex;
        flex-direction: column;
        gap: 4rem;

        @media (min-width: $mq-lg) {
            flex-direction: row;
            gap: 15.4rem;
        }
    }

    &__form {
        @media (min-width: $mq-lg) {
            flex: 1 1 auto;
        }
    }

    &__side-basket {
        @media (min-width: $mq-lg) {
            flex: 0 0 29.5rem;
        }

        & .side-basket__head {
            @media (min-width: 0px) and (max-width: 991.98px) {
                font-weight: 400;
                font-size: $text-3;
            }
        }

        & .side-basket__scroll-container {
            margin-top: 2rem;
            height: auto;
        }
    }
}

.checkout-form {
    &__head {
        @media (min-width: $mq-lg) {
            display: flex;
            justify-content: space-between;
            gap: 2rem;
            flex-wrap: wrap;
        }
    }

    &__head-left {
        display: flex;
        align-items: flex-start;
        gap: 2rem;
        justify-content: space-between;
        flex-wrap: wrap;
    }

    &__head-title {
        font-size: $text-3;
        font-weight: 700;
        text-transform: uppercase;

        @media (min-width: $mq-lg) {
            font-size: 2.4rem;
        }
    }

    &__head-right {
        @media (min-width: 0px) and (max-width: 991.98px) {
            display: none;
        }
    }

    &__body {
        margin-top: 2rem;
        display: flex;
        flex-direction: column;
        gap: 3.2rem;

        @media (min-width: $mq-lg) {
            gap: 4rem;
        }
    }

    &__row {
        &:not([data-da]) {
            display: flex;
            flex-direction: column;
            gap: 1rem;

            @media (min-width: $mq-lg) {
                display: flex;
                flex-direction: row;
                gap: 4rem;
            }
        }

        @media (min-width: $mq-lg) {
            &[data-da] {
                margin-top: 3.8rem;
            }
        }
    }

    &__col {
        @media (min-width: 0px) and (max-width: 991.98px) {
            &.mt {
                margin-top: 2.2rem;
            }
        }

        @media (min-width: $mq-lg) {
            flex: 0 1 calc(50% - 2rem);
        }
    }

    &__fields {
        &:not(:first-child) {
            margin-top: 2rem;
        }
    }

    &__field {
        &:not(:first-child) {
            margin-top: 1rem;
        }
    }

    &__title {
        font-weight: 400;
        font-size: $text-3;

        &:not(:first-child) {
            margin-top: 3.2rem;

            @media (min-width: $mq-lg) {
                margin-top: 3.8rem;
            }
        }
    }
}

.checkbox-radio-list,
ul.wc_payment_methods {
    display: flex;
    flex-direction: column;
    gap: 1rem;

    &:not(:first-child) {
        margin-top: 2rem;
    }
}

.wcus-checkout-fields {
    display: flex;
    flex-direction: column;
    gap: 2rem;

    & p.form-row {
        padding: 0;
        margin: 0;

        &:not(:first-child) {
            margin-top: 1rem;
        }
    }

    & > div {
        display: flex;
        flex-direction: column;
        gap: 1rem;
    }

    & .zen-ui-select__value-text {
        white-space: normal;
    }

    & .zen-ui-select__value,
    & .zen-ui-select__search,
    & .zen-ui-select__options {
        border-color: $themeColorFourth;
        &::first-letter {
            text-transform: uppercase;
        }
    }

    & .zen-ui-select__option,
    & .zen-ui-select__value-text {
        &::first-letter {
            text-transform: uppercase;
        }
    }

    & .zen-ui-select__option {
        font-size: 1.4rem;
    }

    & .zen-ui-select__value {
        min-height: 4rem;
        padding: 0.8rem 3rem 0.8rem 2rem !important;
        font-size: 1.4rem;
        line-height: 1em;
        display: flex;
        align-items: center;
        color: $textColorSecondary;
    }

    & .input-text {
        @extend .input;

        &::placeholder {
            opacity: 1;
            font-size: 1.4rem;
        }
    }

    & .zen-ui-select__search-input {
        font-size: 1.4rem;
        border-color: $themeColorFourth !important;

        &::placeholder {
            font-size: 1.4rem;
            color: $textColorSecondary;
        }
    }
}

.woocommerce-checkout {
    & #payment.woocommerce-checkout-payment {
        & ul.payment_methods {
            padding: 0;
            border: none;

            & > li {
                line-height: 1;
                &:last-child {
                    & > *:last-child {
                        margin-bottom: 0;
                    }
                }
            }
        }

        & .payment_box {
            padding: 0.4em 1em;
            background-color: #f0f0f0;

            &::before {
                border-bottom: 1em solid #f0f0f0;
            }

            & .fondy-ccard {
                max-width: none;
            }

            & .input-label {
                transform: none;
                position: static;
                top: 0;
                left: 0;
                font-size: $text-1;
            }

            & .input {
                &::placeholder {
                    opacity: 1;
                    font-size: $text-1;
                }
            }
        }
    }
}
