
<div class="pagination">
	<a href="" class="pagination__arrow">
		<img class="img-svg" src="img/icons/arrow-left.svg" alt="">
	</a>
	<ul class="pagination__list">
		<li>
			<a href="#" class="pagination__item">1</a>
		</li>
		<li>
			<a href="#" class="pagination__item">2</a>
		</li>
		<li class="dots">
			...
		</li>
		<li>
			<a href="#" class="pagination__item">5</a>
		</li>
	</ul>
	<a href="" class="pagination__arrow">
		<img class="img-svg" src="img/icons/arrow-right.svg" alt="">
	</a>
</div>