.button-primary {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    text-transform: uppercase;
    background-color: #fff;
    border: 1px solid $themeColor;
    border-radius: 0.5rem;
    min-height: 4.1rem;
    padding: 0.8rem 2.4rem;
    color: $themeColor;
    transition: transform 0.05s ease, background-color $transition;
    font-size: 1.5rem;
    text-align: center;
    font-weight: 600;

    &.dark {
        background-color: $themeColor;
        color: $textColorThird;

        @media #{$mouse-device} {
            &:hover {
                color: $textColorThird !important;
                background-color: rgba($themeColor, 0.8);
            }
        }
    }

    &.light {
        @media #{$mouse-device} {
            &:hover {
                color: $textColor !important;
                background-color: $bgHover;
            }
        }
    }

    &:active {
        transform: scale(0.99);
    }

    &[disabled] {
        background-color: #707070;
        border-color: #707070;
        pointer-events: none;
    }

    &--sm {
        min-height: 2.5rem;
        font-size: $text-1;
        padding: 0.4rem 1.4rem;
    }
}

.button-link {
    display: inline-flex;
    text-transform: uppercase;
    position: relative;
    padding-right: 0.95em;
    font-size: $text-1;
    font-weight: 600;
    align-self: flex-start;

    @media (min-width: $mq-lg) {
        font-size: $text-3;
        font-weight: 500;
    }

    &:after {
        position: absolute;
        content: "\e900";
        font-family: 'icomoon' !important;
        top: calc(50% - 0.5px);
        right: 0;
        transform: translateY(-50%);
        font-size: 0.9em;
        font-weight: 400;
        transition: transform .15s ease;
    }



    @media #{$mouse-device} {
        &:hover {
            color: $themeColorSecondary;

            &::after {
                transform: translateX(50%) translateY(-50%);
            }
        }
    }

    &--line {
        font-weight: 300;
        padding-right: 0;

        & > span {
            padding: .2rem 0 !important;
            background-image: linear-gradient(transparent calc(100% - 1px), currentColor 1px);
        }

        &::after {
            display: none;
            padding-right: 0;
        }
    }

    &.lmp_button {
        padding: .2rem 0 !important;
        background-image: linear-gradient(transparent calc(100% - 1px), currentColor 1px);
        background-color: transparent !important;
        color: inherit !important;
        font-size: inherit !important;

        &::after {
            display: none;
        }
    }
}