<div class="product-images" data-product-images>
    <div class="product-images__thumbs swiper" data-slider="product-images-thumbs">
        <div class="swiper-wrapper">
            <div class="swiper-slide">
                <div class="product-images__thumbs-img">
                    <img src="img/photo/product-img-1.png" alt="">
                </div>
            </div>
            <div class="swiper-slide">
                <div class="product-images__thumbs-img">
                    <img src="img/photo/product-img-2.jpg" alt="">
                </div>
            </div>
            <div class="swiper-slide">
                <div class="product-images__thumbs-img">
                    <img src="img/photo/product-img-1.png" alt="">
                </div>
            </div>
            <div class="swiper-slide">
                <div class="product-images__thumbs-img">
                    <img src="img/photo/product-img-2.jpg" alt="">
                </div>
            </div>
            <div class="swiper-slide">
                <div class="product-images__thumbs-img">
                    <img src="img/photo/product-img-1.png" alt="">
                </div>
            </div>
            <div class="swiper-slide">
                <div class="product-images__thumbs-img">
                    <img src="img/photo/product-img-2.jpg" alt="">
                </div>
            </div>
            <div class="swiper-slide">
                <div class="product-images__thumbs-img">
                    <img src="img/photo/product-img-1.png" alt="">
                </div>
            </div>
            <div class="swiper-slide">
                <div class="product-images__thumbs-img">
                    <img src="img/photo/product-img-2.jpg" alt="">
                </div>
            </div>
            <div class="swiper-slide">
                <div class="product-images__thumbs-img">
                    <img src="img/photo/product-img-1.png" alt="">
                </div>
            </div>
            <div class="swiper-slide">
                <div class="product-images__thumbs-img">
                    <img src="img/photo/product-img-2.jpg" alt="">
                </div>
            </div>
            <div class="swiper-slide">
                <div class="product-images__thumbs-img">
                    <img src="img/photo/product-img-1.png" alt="">
                </div>
            </div>
            <div class="swiper-slide">
                <div class="product-images__thumbs-img">
                    <img src="img/photo/product-img-2.jpg" alt="">
                </div>
            </div>
        </div>
        <button class="product-images__btn top"><span class="icon-chevron-up"></span></button>
        <button class="product-images__btn bottom"><span class="icon-chevron-down"></span></button>
    </div>
    <div class="product-images__main swiper" data-slider="product-images-main">
        <div class="swiper-wrapper">
            <div class="swiper-slide">
                <a href="img/photo/product-img-1.png" data-fancybox="product-images" class="product-images__main-img">
                    <img src="img/photo/product-img-1.png" alt="">
                </a>
            </div>
            <div class="swiper-slide">
                <a href="img/photo/product-img-2.jpg" data-fancybox="product-images" class="product-images__main-img">
                    <img src="img/photo/product-img-2.jpg" alt="">
                </a>
            </div>
            <div class="swiper-slide">
                <a href="img/photo/product-img-1.png" data-fancybox="product-images" class="product-images__main-img">
                    <img src="img/photo/product-img-1.png" alt="">
                </a>
            </div>
            <div class="swiper-slide">
                <a href="img/photo/product-img-2.jpg" data-fancybox="product-images" class="product-images__main-img">
                    <img src="img/photo/product-img-2.jpg" alt="">
                </a>
            </div>
            <div class="swiper-slide">
                <a href="img/photo/product-img-1.png" data-fancybox="product-images" class="product-images__main-img">
                    <img src="img/photo/product-img-1.png" alt="">
                </a>
            </div>
            <div class="swiper-slide">
                <a href="img/photo/product-img-2.jpg" data-fancybox="product-images" class="product-images__main-img">
                    <img src="img/photo/product-img-2.jpg" alt="">
                </a>
            </div>
            <div class="swiper-slide">
                <a href="img/photo/product-img-1.png" data-fancybox="product-images" class="product-images__main-img">
                    <img src="img/photo/product-img-1.png" alt="">
                </a>
            </div>
            <div class="swiper-slide">
                <a href="img/photo/product-img-2.jpg" data-fancybox="product-images" class="product-images__main-img">
                    <img src="img/photo/product-img-2.jpg" alt="">
                </a>
            </div>
            <div class="swiper-slide">
                <a href="img/photo/product-img-1.png" data-fancybox="product-images" class="product-images__main-img">
                    <img src="img/photo/product-img-1.png" alt="">
                </a>
            </div>
            <div class="swiper-slide">
                <a href="img/photo/product-img-2.jpg" data-fancybox="product-images" class="product-images__main-img">
                    <img src="img/photo/product-img-2.jpg" alt="">
                </a>
            </div>
            <div class="swiper-slide">
                <a href="img/photo/product-img-1.png" data-fancybox="product-images" class="product-images__main-img">
                    <img src="img/photo/product-img-1.png" alt="">
                </a>
            </div>
            <div class="swiper-slide">
                <a href="img/photo/product-img-2.jpg" data-fancybox="product-images" class="product-images__main-img">
                    <img src="img/photo/product-img-2.jpg" alt="">
                </a>
            </div>
        </div>
        <div class="swiper-scrollbar slider-scrollbar"></div>
    </div>
</div>