<div class="filter-brands" data-filter-brands>
    <div class="filter-brands__search">
        <div class="filter-brands__search-input">
            @@include('../../components/inputs/_input.html', {
            "label": "Пошук брендів", 
            "required": false,
            "type": "text"
            })
        </div>
    </div>
    <ul class="filter-brands__list">
        <li data-letter="a">
            <div class="filter-brands__letter">a</div>
            <ul class="filter__block">
                <li>
                    <label class="filter-checkbox-radio">
                        <input type="checkbox">
                        <div class="filter-checkbox-radio__text">
                            acqua di parma
                        </div>
                    </label>
                </li>
                <li>
                    <label class="filter-checkbox-radio">
                        <input type="checkbox">
                        <div class="filter-checkbox-radio__text">
                            aesop
                        </div>
                    </label>
                </li>
                <li>
                    <label class="filter-checkbox-radio">
                        <input type="checkbox">
                        <div class="filter-checkbox-radio__text">
                            augustinus bader
                        </div>
                    </label>
                </li>
                <li>
                    <label class="filter-checkbox-radio">
                        <input type="checkbox">
                        <div class="filter-checkbox-radio__text">
                            aveda
                        </div>
                    </label>
                </li>
                <li>
                    <label class="filter-checkbox-radio">
                        <input type="checkbox">
                        <div class="filter-checkbox-radio__text">
                            aurelia london
                        </div>
                    </label>
                </li>
                <li>
                    <label class="filter-checkbox-radio">
                        <input type="checkbox">
                        <div class="filter-checkbox-radio__text">
                            ameliorate
                        </div>
                    </label>
                </li>
            </ul>
        </li>
        <li data-letter="b">
            <div class="filter-brands__letter">b</div>
            <ul class="filter__block">
                <li>
                    <label class="filter-checkbox-radio">
                        <input type="checkbox">
                        <div class="filter-checkbox-radio__text">
                            benefit cosmetics
                        </div>
                    </label>
                </li>
                <li>
                    <label class="filter-checkbox-radio">
                        <input type="checkbox">
                        <div class="filter-checkbox-radio__text">
                            byoma
                        </div>
                    </label>
                </li>
                <li>
                    <label class="filter-checkbox-radio">
                        <input type="checkbox">
                        <div class="filter-checkbox-radio__text">
                            byredo
                        </div>
                    </label>
                </li>
                <li>
                    <label class="filter-checkbox-radio">
                        <input type="checkbox">
                        <div class="filter-checkbox-radio__text">
                            bobbi brown
                        </div>
                    </label>
                </li>
                <li>
                    <label class="filter-checkbox-radio">
                        <input type="checkbox">
                        <div class="filter-checkbox-radio__text">
                            baxter of california
                        </div>
                    </label>
                </li>
                <li>
                    <label class="filter-checkbox-radio">
                        <input type="checkbox">
                        <div class="filter-checkbox-radio__text">
                            boy smells
                        </div>
                    </label>
                </li>
            </ul>
        </li>
        <li data-letter="c">
            <div class="filter-brands__letter">c</div>
            <ul class="filter__block">
                <li>
                    <label class="filter-checkbox-radio">
                        <input type="checkbox">
                        <div class="filter-checkbox-radio__text">
                            comfort zone
                        </div>
                    </label>
                </li>
                <li>
                    <label class="filter-checkbox-radio">
                        <input type="checkbox">
                        <div class="filter-checkbox-radio__text">
                            colorescience
                        </div>
                    </label>
                </li>
            </ul>
        </li>
    </ul>
</div>