
//<SELECT (sel+tab)>====================================================================================================
.select {
	position: relative;
	// .select__item
	&__item {
		position: relative;
		//font-family: $mainFontFamily;
		min-width: 294px;
	}
	// .select__title
	&__title {
		color: $textColor;
		background-color: #fff;
		cursor: pointer;
		@media (max-width: $md2+px) {
			font-size: 18px;
		}
	}
	// .select__value
	&__value {
		display: flex;
		font-size: 14px;
		line-height: 170%;
		padding: 0px 15px;
		align-items: center;
		justify-content: space-between;
		flex-direction: row-reverse;
		span {
			//font-family: $mainFontFamily;
			display: -webkit-box;
			-webkit-line-clamp: 1;
			-webkit-box-orient: vertical;
		}
		&:before {
			content: "+";
			display: inline-block;
			transition: all 0.3s ease 0s;
/*			width: 11px;
			height: 7px;*/
			//background: url("../img/icons/select.svg") center / 100% no-repeat;
		}
	}
	&__input {
		width: 100%;
		background-color: transparent;
		height: 100%;
	}
	// .select__options
	&__options {
		color: #000;
		display: none;
		position: absolute;
		top: 29px;
		border-radius: 0 0 4px 4px;
		min-width: 100%;
		left: 0;
		background-color: #fff;
		border-top: 0;
		border-top: 0;
		font-size: 14px;
		line-height: 170%;
		padding: 10px 0px 5px 0px;
		color: $textColor;
		box-shadow: 0px 0px 10px rgba(236, 157, 171, 0.3);
		max-height: 315px;
		overflow-y: auto;
	}
	// .select__option
	&__option {
		cursor: pointer;
		padding: 5px 15px;
		margin: 0px 0px 0px 0px;
		@media (min-width: 992px) {
			&:hover {
				background: rgba($mainColor, 0.3);
			}
		}
	}
	&._active {
		z-index: 5;
		.select__value {
			&:before {
				transform: rotate(-180deg);
			}
		}
		.select__options {
			display: block;
		}
	}
}
//</SELECT>====================================================================================================