.product-card {

    @media (min-width: $mq-lg) {
        display: flex;
        flex-direction: column;
        height: 100%;
        &:hover {
            & .product-card__footer {
                opacity: 1;
            }

            & .product-card__img {
                & img {
                    transform: scale(1.05);
                }
            }
        }
    }

    &__head {
        position: relative;
    }

    &__labels {
        position: absolute;
        z-index: 3;
        top: 0.5rem;
        left: 0;
        display: flex;
        flex-direction: column;
        gap: 0.6rem;
    }

    &__img {
        position: relative;
        z-index: 1;
        display: flex;
        justify-content: center;
        align-items: center;
        transition: border-color $transition;
        height: 15.3rem;

        @media (min-width: $mq-md) {
            height: 27.5rem;
            padding: 1.5rem;
        }

        & img {
            display: block;
            width: auto;
            height: auto;
            max-width: 100%;
            max-height: 100%;
            transition: transform $transition;
        }
    }

    &__like-button {
        font-size: 1.2rem;
        cursor: pointer;
        padding: 0.5rem;
        position: absolute;
        top: 0rem;
        right: 0rem;
        z-index: 3;
        display: flex;
        transition: background-color $transition;
        color: $themeColor;

        @media (min-width: $mq-md) {
            font-size: 1.9rem;
        }

        &.active {
            color: $themeColorSecondary;

            &:before {
                content: "\e908";
            }
        }

        &:before {
            font-family: 'icomoon' !important;
            speak: never;
            font-style: normal;
            font-weight: normal;
            font-variant: normal;
            text-transform: none;
            line-height: 1;
            -webkit-font-smoothing: antialiased;
            -moz-osx-font-smoothing: grayscale;
            content: "\e909";
        }

        // @media #{$mouse-device} {
        //     &:hover {
        //         background-color: $bgHover;
        //     }
        // }
    }

    &__body {
        margin-top: 1rem;
        margin-bottom: auto;
        text-align: center;
        color: $themeColor;


        @media (min-width: 0px) and (max-width: 991.98px) {
            flex: 1 1 auto;
            display: flex;
            flex-direction: column;

        }
    }

    &__rating {
        & .rating {
            font-size: 1rem;
            color: $themeColor;

            @media (min-width: $mq-lg) {
                font-size: 1.4rem;
            }
        }

        & .rating__star {
            margin-right: 0.35em;
        }

        & .rating__stars-1 {
            width: calc(100% / 5 * var(--value));
            max-width: 100%;
        }
    }

    &__title {
        text-transform: uppercase;
        font-weight: 500;
        font-size: $text-2;


        @media (min-width: $mq-lg) {
            font-size: $text-3;
        }

        &:not(:first-child) {
            margin-top: 1rem;
        }
    }

    &__text {
        font-size: $text-1;
        margin-top: 1rem;
        margin-bottom: 1rem;

        @media (min-width: $mq-md) {
            font-size: $text-3;
            margin-bottom: 1.5rem;
        }
    }

    &__text-1 {
        color: $textColor;
    }

    &__text-2 {
        color: $textColorSecondary;
        font-size: 1rem;
        margin-top: 0.4rem;

        @media (min-width: $mq-md) {
            font-size: $text-2;
        }
    }

    &__price {
        margin-top: auto;
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        flex-wrap: wrap;
        gap: 1rem;
        font-size: 1rem;
        font-weight: 700;

        @media (min-width: $mq-lg) {
            margin-top: 1rem;
            font-size: $text-3;
        }

        &:not(.show) {
            display: none;
        }

        & .price {
            display: flex;
            align-items: center;
            flex-wrap: wrap;
            gap: 1rem;
            flex-direction: row;

            & ins {
                text-decoration: none;
            }

            & del {
                color: rgba($themeColor, 0.4);
                order: 1;
            }
        }
    }

    &__price-current {
        font-weight: 700;
        color: $textColor;
        display: flex;
        gap: 1rem;
        flex-wrap: wrap;

        & > del {
            color: $textColorSecondary;
            text-decoration: line-through;
            font-weight: 400;
        }

        & > ins {
            order: -1;
            text-decoration: none;
        }
    }

    &__price-old {
        color: $textColorSecondary;
        text-decoration: line-through;
    }

    &__footer {
        display: none;

        @media (min-width: $mq-lg) {
            display: block;
            margin-top: 1.5rem;
            opacity: 0;
            transition: opacity $transition;
        }

        & .button-primary {
            width: 100%;
        }

        & .product-actions__option {
            margin-top: 0 !important;
            &:not(:first-child) {
                margin-top: 1rem !important;

                @media (min-width: $mq-md) {
                    margin-top: 1.6rem !important;
                }
            } 
        }

        & .product-actions__option-head {
            display: none;
        }

        & .product-actions__option-items {
            margin-top: 0;
        }
    }

    &__option {
        display: flex;
        flex-wrap: wrap;
        gap: 1rem;

        @media (min-width: $mq-md) {
            gap: 1.4rem;
        }
    }

    &__option-item {
        position: relative;
        cursor: pointer;

        &[disabled] {
            pointer-events: none;

            & .product-card__option-item-value {
                color: $themeColorThird;
            }
        }

        & input {
            position: absolute;
            top: 0;
            left: 0;
            z-index: -1;
            opacity: 0;
            visibility: hidden;

            &:checked {
                & + .product-card__option-item-value {
                    border-color: $themeColor;
                }
            }
        }

        @media #{$mouse-device} {
            &:hover {
                & .product-card__option-item-value {
                    background-color: $bgHover;
                }
            }
        }
    }

    &__option-item-value {
        display: inline-flex;
        min-height: 2.4rem;
        min-width: 4.5rem;
        align-items: center;
        justify-content: center;
        border-radius: 0.5rem;
        border: 1px solid $themeColorFourth;
        font-size: $text-1;
        color: $textColor;
        padding: .2rem 0.6rem;
        transition: background-color $transition;

        @media (min-width: $mq-md) {
            min-height: 3rem;
            min-width: 7.2rem;
            padding: .6rem 1.2rem;
            font-size: $text-2;
        }
    }

    &__btn-to-basket {
        margin-top: 1rem;

        @media (min-width: $mq-md) {
            margin-top: 1.6rem;
        }
    }

    &--not-in-stock {
        color: $textColorSecondary;

        @media (min-width: $mq-lg) {
            &:hover {
                & .product-card__img {
                    & img {
                        transform: scale(1);
                    }
                }
            }
        }

        & .product-card__img {
            
            & img {
                filter: grayscale(100%);
            }

            @media #{$mouse-device} {
                &:hover {
                    border-color: $themeColorFourth;
                }
            }
        }

        & .product-card__price-current, & .product-card__text-1  {
            color: $textColorSecondary;
        }
    }
}

.product-card-label {
    display: inline-flex;
    background-color: $themeColorSecondary;
    color: $textColorThird;
    font-size: 0.8rem;
    align-items: center;
    justify-content: center;
    padding: .2rem .6rem;
    min-height: 1.4rem;
    align-self: flex-start;
    border-radius: 0.2rem;

    @media (min-width: $mq-md) {
        font-size: $text-2;
        min-height: 2.1rem;
        padding: .2rem .9rem;
    }

    &--secondary {
        background-color: $themeColor;
    }
}
