.catalog {
    padding-top: 1.5rem;

    @media (min-width: $mq-lg) {
        padding-top: 5rem;
    }

    &__inner {
        display: flex;
        flex-direction: column;
        gap: 2rem;
    }

    &__brand {
        display: flex;
        flex-direction: column;
        gap: 2rem;
        position: relative;
        z-index: 2;
        margin-bottom: 2rem;

        @media (min-width: $mq-lg) {
            flex-direction: row;
            margin-bottom: 2rem;
        }

        &-col-1 {
            @media (min-width: $mq-lg) {
                flex: 0 0 26rem;
            }
        }
        &-col-2 {
            @media (min-width: $mq-lg) {
                flex: 1 1 auto;
            }
        }
    }

    &__head {
        display: none;
        flex-direction: column;
        gap: 2rem;
        position: relative;
        z-index: 2;

        @media (min-width: $mq-lg) {
            flex-direction: row;
            display: flex;
        }
    }

    &__head-col-1 {
        @media (min-width: $mq-lg) {
            flex: 0 0 26rem;
        }
    }
    &__head-col-2 {
        display: flex;
        flex-direction: column;
        gap: 2rem;

        @media (min-width: $mq-lg) {
            flex: 1 1 auto;
            gap: 4rem;
        }
    }

    &__head-row {

        &--selected-filters-and-sort {
            @media (min-width: 0px) and (max-width: 991.92px) {
                display: none;
            }

            @media (min-width: $mq-lg) {
                display: flex;
                gap: 2rem;
                align-items: flex-end;
            }
        }
    }

    &__category-title {
        &:not(:first-child) {
            margin-top: 2rem;
        }
    }

    &__body {
        @media (min-width: $mq-lg) {
            display: flex;
            gap: 2rem;
            position: relative;
            z-index: 1;

            & .catalog__category-title {
                display: none;
            }
        }
    }

    &__mobile-open-filter-button {
        width: 100%;
        gap: 0;

        @media (min-width: $mq-lg) {
            display: none;
        }
    }

    

    &__filter {
        @media (min-width: $mq-lg) {
            flex: 0 0 26rem;
        }
    }

    &__products {
        flex: 1 1 auto;

        & .lmp_load_more_button {
            margin-top: 4rem;
        }
    }

    &__products-selected-filters {
        @media (min-width: $mq-lg) {
            flex: 1 1 auto;
        }
    }

    &__products-sort-by {
        @media (min-width: $mq-lg) {
            flex: 0 0 auto;
            margin-left: auto;

            & .sort-by {
                position: relative;
                cursor: pointer;

                & .sort-by__list {
                    padding-left: 0;
                    margin-top: 0;
                    margin-bottom: 0;
                    position: absolute;
                    top: 100%;
                    right: -1.5rem;
                    min-width: calc(100% + 3rem);
                    background-color: $pagesBg;
                    padding: 1.5rem;
                    visibility: hidden;
                    opacity: 0;
                    pointer-events: none;
                    background-color: $pagesBg;
                }

                & .checkbox-radio {
                    font-size: $text-2;
                    color: $textColorSecondary;

                    & input:checked ~ .checkbox-radio__text {
                        color: $textColor;
                    }
                }

                & .checkbox-radio__square {
                    display: none;
                }

                & .checkbox-radio__text {
                    text-align: right;
                    white-space: nowrap;
                    width: 100%;
                }

                & .select._active {
                    & .select__value::before {
                        transform: translateY(-50%) scaleY(-1);
                    }
                }

                & .select__value {
                    padding: 0;
                    border: none;
                    font-size: $text-3;
                    text-transform: uppercase;
                    color: $textColor;
                    padding-left: 2rem;
                    position: relative;
                    font-weight: 500;

                    &:before {
                        position: absolute;
                        content: "\e913";
                        font-family: 'icomoon' !important;
                        speak: never;
                        font-style: normal;
                        font-weight: normal;
                        font-variant: normal;
                        text-transform: none;
                        line-height: 1;
                        -webkit-font-smoothing: antialiased;
                        -moz-osx-font-smoothing: grayscale;
                        top: 50%;
                        left: 0;
                        transform: translateY(-50%);
                        transition: transform .15s ease;
                    }
                }

                & .select__options {
                    border-radius: 0;
                    left: auto;
                    right: 0;
                    min-width: 27rem;
                    box-shadow: none;
                }

                & .select__option {
                    justify-content: flex-end;
                    text-align: right;
                    padding-left: 0;
                    padding-right: 0;
                }
            }
        }
    }

    &__products-list {
        display: flex;
        flex-wrap: wrap;
        gap: 4rem 1.5rem;
        padding-left: 0;
        margin-bottom: 0;
        margin-top: 2rem;

        @media (min-width: $mq-lg) {
            gap: 8rem 2rem;
            margin-top: 0;
        }

        & > li {
            flex: 0 1 calc(50% - (1.5rem / 2));

            @media (min-width: $mq-lg) {
                flex: 0 1 calc(33.3333333% - (2rem * 2 / 3));
            }

            & .product-card {
                height: 100%;
                display: flex;
                flex-direction: column;

                & .product-card__body {
                    margin-bottom: auto;
                }
            }
        }
    }

    &__prodducts-footer {
        margin-top: 2rem;

        @media (min-width: $mq-lg) {
            margin-top: 3rem;
        }
    }
}

.filter {

    @media (min-width: 0px) and (max-width: 991.98px) {
        position: fixed;
        top: 0;
        right: 100%;
        width: 100%;
        height: 100svh;
        background-color: $pagesBg;
        z-index: 101;
        padding: 8rem 1rem 6rem;
        transition: transform .4s ease;
    
    
        &.open {
            transform: translateX(100%);
        }
    }


    &__btn-close {
        position: absolute;
        font-size: 1.6rem;
        padding: 0.5rem;
        z-index: 4;
        top: 1.5rem;
        right: 0.5rem;

        @media (min-width: $mq-lg) {
            display: none;
        }
    }

    &__form {
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        gap: 4rem;
    }

    &__scroll-container {
        display: flex;
        flex-direction: column;
        gap: 4rem;


        @media (min-width: 0px) and (max-width: 991.98px) {
            margin-right: -1rem;
            padding-right: 1rem;
            height: 100%;
            overflow-y: auto;
            overflow-x: hidden;
        }
    }

    & .bapf_sngl_hd_desktop.berocket_single_filter_widget {
        position: absolute;
        bottom: 1rem;
        left: 1rem;
        z-index: 3;
        right: 1rem;
        top: auto !important;

        @media (min-width: $mq-lg) {
            display: none;
        }
    }

    &__btn-close-mob {
        width: 100%;

        &.button-primary {
            padding: 0;

            & .bapf_body {
                width: 100%;
            }

            & button {
                min-height: 3.9rem;
                padding: 0.8rem 2.4rem;
                width: 100%;
            }
        }
    }

    &__sort-by {
        @media (min-width: $mq-lg) {
            display: none;
        }

        & form:not(#custom-sorting) {
            pointer-events: none;
        }
    }

    &__reset {
        position: absolute;
        top: 2rem;
        left: 1rem;

        @media (min-width: $mq-lg) {
            position: static;
            align-self: flex-start;
        }

        &[disabled] {
            opacity: 1;
            color: $themeColorFourth;
            pointer-events: none;
        }
    }

    &__row {

    }

    &__title {
        text-transform: uppercase;
        font-size: $text-3;
        font-weight: 700;
    }

    &__selected-filters {
        margin-top: 2rem;

        @media (min-width: $mq-lg) {
            display: none;
        }
    }

    &__spoller {

        &.spoller {
            gap: 4rem;

            & > li {
                &:not(:last-child) {
                    position: relative;

                    &:before {
                        position: absolute;
                        content: '';
                        height: 1px;
                        top: calc(100% + 2rem);
                        transform: translateY(-50%);
                        background-color: $themeColorFourth;
                        width: 100%;
                    }
                }
            }
        }

        & .spoller__item-title {
            &::before {
                height: 1.6rem;
                width: 1.6rem;
                background-image: url(#{$icon-plus});
                background-color: $pagesBg;
                background-size: contain;
            }

            &.active {
                color: $themeColorSecondary;

                &::before {
                    background-image: url(#{$icon-minus});
 
                }
            }
        }

        & .spoller__item-colapse-content {
            padding-left: 0;
            padding-bottom: 0;

            & > *:not(:first-child) {
                margin-top: 1rem;
            }

            & .filter__block {
                &:first-child {
                    padding-top: 1rem;
                }
            }
        }
    }

    &__block {
        padding-left: 0;
        margin-bottom: 0;
        display: flex;
        flex-direction: column;
        gap: 1rem;
    }

    & .berocket_single_filter_widget {
        margin-top: 2rem;
        position: relative;

        &:not(:last-child) {
            position: relative;

            &:before {
                position: absolute;
                content: '';
                height: 1px;
                top: calc(100% + 2rem);
                transform: translateY(-50%);
                background-color: $themeColorFourth;
                width: 100%;
            }
        }

        &:last-child {

            & .bapf_reset {
                padding: 0.2rem 0;
                background-image: linear-gradient(transparent calc(100% - 1px), currentColor 1px);
            }

            @media (min-width: 0px) and (max-width: 991.98px) {
                margin-top: 0;
                position: absolute;
                top: 2rem;
                left: 1rem;

                & .bapf_body {
                    margin-top: 0;
                }
            }
        }

        & + .berocket_single_filter_widget {
            margin-top: 4rem;
        }

        & .bapf_sfilter {
            margin-bottom: 0;
            position: relative;
        }

        & .bapf_head {
            cursor: pointer;

            & .bapf_hascolarr {
                padding-right: 3rem;

                & .bapf_colaps_smb  {
                    top: 50%;
                    transform: translateY(-50%);
                    height: 1.6rem;
                    width: 1.6rem;
                    background-image: url(#{$icon-plus});
                    background-color: $pagesBg;
                    background-size: contain;
                    background-repeat: no-repeat;
                    background-position: center;

                    &.fa-chevron-up {
                        background-image: url(#{$icon-minus});
                    }

                    &::before {
                        content: none !important;
                    }
                }
            }
        }

        & .bapf_body {
            margin-top: 1rem;

            & ul:not(.filter-brands__list) {
                margin-top: 1rem !important;
                display: flex;
                flex-direction: column;
                gap: 1rem;
                max-height: 19.7rem;
                overflow-y: auto;
                overflow-x: hidden;

                @media (min-width: $mq-lg) {
                    max-height: 27.4rem;
                }

                &::-webkit-scrollbar {
                    width: 3px;
                    height: 3px;
                }
            }

            & ul > li {
                &[data-letter] {
                    position: relative;
                    padding-left: 3.8rem !important;
                }
            }

            & input[type="checkbox"] {
                position: absolute;
                top: 50%;
                transform: translateY(-50%);
                left: 0;
                width: 1.9rem;
                height: 1.9rem;
                border: 1px solid #8D8D8D;
                background-position: center;
                background-repeat: no-repeat;
                background-size: 80%;
                flex: 0 0 auto;
                margin-right: 2rem;
                border-radius: 0;

                &:checked {
                    background-color: $pagesBg;
                    background-image: url(#{$icon-check});
                }

                & ~ label {
                    color: $textColor;
                }

                &::after {
                    content: none;
                }
            }
        }
    }
}

.sort-by {
    &__title {
        text-transform: uppercase;
        font-size: $text-3;
        font-weight: 700;
    }

    &__list {
        margin-top: 2rem;
        padding-left: 0;
        margin-bottom: 0;
        display: flex;
        flex-direction: column;
        gap: 1rem;
    }

    @media (min-width: 0px) and (max-width: 991.98px) {
        & .checkbox-radio {
            & input {
                &:checked {
                    & ~ .checkbox-radio__square {
                        background-color: $pagesBg;
                        background-image: url(#{$icon-check});
                    }
                }
            }

            & .checkbox-radio__square {
                border-color: #8D8D8D;
                background-position: center;
                background-repeat: no-repeat;
                background-size: 80%;
            }
        }
    }

    & .woocommerce-ordering {
        float: none;
        margin-bottom: 0;

        & select.orderby {
            appearance: none;
            background-color: transparent;
            border: none;
            border-radius: 0;
            text-transform: uppercase;
            font-size: $text-3;
            font-weight: 700;
            text-align: right;
            cursor: pointer;

            & option {
                font-size: $text-2;
                color: $textColorSecondary;
                text-transform: none;

                &:checked {
                    color: $textColor;
                }
            }

            @media (min-width: 0px) and (max-width: 991.98px) {
                width: 100%;
                text-align: left;
            }
        }
    }
}

.filter-checkbox-radio {
    display: block;
    position: relative;
    cursor: pointer;

    & input {
        position: absolute;
        top: 0;
        left: 0;
        z-index: -1;
        visibility: hidden;

        &:checked ~ .filter-checkbox-radio__text {
            color: $textColor;

            &::before {
                background-color: $pagesBg;
                background-image: url(#{$icon-check});
            }
        }
    }

    &__text {
        position: relative;
        color: $textColorSecondary;
        display: flex;
        gap: 2rem;

        &:before {
            content: "";
            display: block;
            width: 1.9rem;
            height: 1.9rem;
            flex: 0 0 auto;
            border: 1px solid #8D8D8D;
            background-position: center;
            background-repeat: no-repeat;
            background-size: 80%;
        }
    }
}
 


//// Remove
.nojq.mobile {
    display: none !important;
}

