<!DOCTYPE html>
<html lang="en">
@@include('_head.html',{
"title": "YOS"
})

<body>
    <div class="_preloader"></div>

    @@include('widgets/header/_header.html',{
    "mod": "shadow"
    })

    @@include('widgets/side-basket/_side-basket.html')

    <main class="_page basket-page">
        <div class="head-height-compensation"></div>
        @@include('widgets/basket/_basket-v2.html')
    </main>

    <!-- == FOOTER ================== -->
    @@include('widgets/footer/_footer.html',{})
    <!-- == // FOOTER ================== -->

</body>

</html>