<!DOCTYPE html>
<html lang="en" >
@@include('_head.html',{
"title": "YOS"
})

<body >
	<div class="_preloader"></div>

	@@include('widgets/header/_header.html',{
	"mod": ""
	})
	
	@@include('widgets/side-basket/_side-basket.html')

	<main class="_page brands-page">
        <div class="head-height-compensation"></div>
		@@include('components/categories/_categories.html', { "mod": "hide-in-mobile" })
		
        @@include('widgets/brands/_brands.html')
	</main>

	<!-- == FOOTER ================== -->
	@@include('widgets/footer/_footer.html',{})
	<!-- == // FOOTER ================== -->

</body>

</html>