<!DOCTYPE html>
<html lang="en" >
@@include('_head.html',{
"title": "YOS"
})

<body >
	<div class="_preloader"></div>

	@@include('widgets/header/_header.html',{
	"mod": ""
	})
	
	@@include('widgets/side-basket/_side-basket.html')

	<main class="_page catalog-page">
		<div class="head-height-compensation"></div>
        @@include('widgets/catalog/_catalog-face.html')
	</main>

	<!-- == FOOTER ================== -->
	@@include('widgets/footer/_footer.html',{})
	<!-- == // FOOTER ================== -->

</body>

</html>