<!DOCTYPE html>
<html lang="en">
@@include('_head.html',{
"title": "YOS"
})

<body>
	<div class="_preloader"></div>

	@@include('widgets/header/_header.html',{
	"mod": ""
	})

	@@include('widgets/side-basket/_side-basket.html')

	<main class="_page home-page">
		<div class="head-height-compensation"></div>

		@@include('components/categories/_categories.html', { "mod": "" })

		@@include('widgets/home-intro/_home-intro.html')

		<div class="top-space-60 top-space-md-170">
			@@include('widgets/carousel/_carousel-bestseller.html')
		</div>

		<div class="top-space-140 top-space-md-120">
			@@include('widgets/banner/_category-banner.html')
		</div>

		<div class="top-space-140 top-space-md-150">
			@@include('widgets/carousel/_carousel-tabs.html')
		</div>

		<div class="top-space-140 top-space-md-100">
			@@include('widgets/articles-preview-carousel/_articles-preview.html')
		</div>

		<div class="top-space-140 top-space-md-150">
			@@include('widgets/banner/_about-banner.html')
		</div>

		<div class="top-space-140 top-space-md-150">
			@@include('widgets/ticker-logos/_ticker-logos.html')
		</div>

		<div class="top-space-140 top-space-md-150">
			@@include('widgets/special-offers/_special-offers-with-collapse-text.html')
		</div>

		<div class="top-space-140 top-space-md-150">
			<div class="image-full-width">
				<img src="img/photo/phrase.png" alt="">
			</div>
		</div>

		<div class="top-space-140 top-space-md-150">
			@@include('widgets/instagram/_instagram.html')
		</div>
	</main>

	<!-- == FOOTER ================== -->
	<div class="top-space-140">
		<footer class="footer-desk">
			<div class="container">
				<div class="footer-desk__body">
					<div class="footer-desk__col footer-desk__col-1">
						<div class="footer-desk__logo">
							<a href="#">
								<img src="img/logo/footer-logo.png" alt="">
							</a>
						</div>
						<div class="footer-desk__text text-content last-no-margin">
							<p>
								— це мультибрендовий онлайн beauty бутік, доступний для візиту з будь-якої точки світу.
							</p>
						</div>
						<div class="footer-desk__copy">
							© 2022 YOS Skincare. Всі права захищені. Designed & developed by ra-web
						</div>
					</div>
					<div class="footer-desk__col footer-desk__col-2">
						<h2 class="footer-desk__title title-2">
							<a href="#">категорії</a>
						</h2>
						<ul class="footer-desk__list">
							<li>
								<a href="#">Обличчя</a>
							</li>
							<li>
								<a href="#">Волосся</a>
							</li>
							<li>
								<a href="#">Тіло</a>
							</li>
							<li>
								<a href="#">Аксесуари</a>
							</li>
							<li>
								<a href="#">Подарунки</a>
							</li>
							<li>
								<a href="#">Health & Care</a>
							</li>
							<li>
								<a href="#">Sale</a>
							</li>
							<li>
								<a href="#">Бренди</a>
							</li>
						</ul>
					</div>
					<div class="footer-desk__col footer-desk__col-3">
						<h2 class="footer-desk__title title-2">
							<a href="#">зв’яжіться з нами</a>
						</h2>
						<ul class="footer-desk__list">
							<li>
								з 10.00 до 18.00
							</li>
							<li>
								<a href="#">+380 (93) 28 55 810</a>
							</li>
							<li>
								<a href="#" class="button-link"><span>telegram</span></a>
							</li>
							<li>
								<a href="#" class="button-link"><span>instagram</span></a>
							</li>
						</ul>
					</div>
					<div class="footer-desk__col footer-desk__col-4">
						<h2 class="footer-desk__title title-2">
							<a href="#">інформація</a>
						</h2>
						<ul class="footer-desk__list">
							<li>
								<a href="#">Угода користувача</a>
							</li>
							<li>
								<a href="#">Справжність товару</a>
							</li>
							<li>
								<a href="#">Повернення товару</a>
							</li>
							<li>
								<a href="#">Доставка і оплата</a>
							</li>
						</ul>
					</div>
				</div>
			</div>
		</footer>
		<footer class="footer-mob">
			<div class="container">
				<div class="footer-mob__body">
					<div class="footer-mob__row">
						<div class="footer-mob__logo">
							<a href="#">
								<img src="img/logo/footer-logo.png" alt="">
							</a>
						</div>
						<div class="footer-mob__text text-content last-no-margin">
							<p>
								— це мультибрендовий онлайн beauty
								бутік, доступний для візиту з будь-якої
								точки світу.
							</p>
						</div>
					</div>
					<div class="footer-mob__row">
						<div class="footer-mob__time">
							<h3 class="footer-mob__title title-3">години роботи</h3>
							<div class="footer-mob__vertical-content">
								10.00 — 18.00
							</div>
						</div>
						<div class="footer-mob__contacts">
							<h3 class="footer-mob__title title-3">
								зв’яжіться <br>
								з нами
							</h3>
							<div class="footer-mob__vertical-content">
								<a href="#">+380 (93) 28 55 810</a>
								<a href="#" class="button-link"><span>telegram</span></a>
								<a href="#" class="button-link"><span>instagram</span></a>
							</div>
						</div>
					</div>
					<div class="footer-mob__row">
						<h3 class="footer-mob__title title-3">підписатися на розсилку </h3>
						<div class="footer-mob__text text-content last-no-margin">
							<p>
								Приєднуйся до нашого beauty комьюніті - отримуй ексклюзивні пропозиції та секрети
								ідеального
								догляду за шкірою.
							</p>
						</div>
						<form action="/" class="subscription-form">
							<input type="text" placeholder="Електронна пошта">
							<button class="button-link"><span>підписатися</span></button>
						</form>
					</div>
					<div class="footer-mob__row">
						<div class="footer-mob__copy">
							© 2022 YOS Skincare. Всі права захищені.
							designed & developed by ra-web
						</div>
					</div>
				</div>
			</div>
		</footer>
	</div>
	<!-- == // FOOTER ================== -->
	@@include('widgets/side-basket/_basket-popup.html')
</body>

</html>