<!DOCTYPE html>
<html lang="en" >
@@include('_head.html',{
"title": "YOS"
})

<body >
	<div class="_preloader"></div>

	@@include('widgets/header/_header.html',{
	"mod": "header--transparent"
	})
	
	@@include('widgets/side-basket/_side-basket.html')

	<main class="_page page404-page">
        <div class="head-height-compensation d-lg-none"></div>
        @@include('widgets/page404/_page404.html')
	</main>

	<!-- == FOOTER ================== -->
	@@include('widgets/footer/_footer.html',{})
	<!-- == // FOOTER ================== -->

</body>

</html>