.article-card-prview {
    width: 25.5rem;
    display: flex;
    flex-direction: column;
    height: 100%;
    gap: 1.5rem;

    @media (min-width: $mq-md) {
        width: 100%;
    }

    &__img {
        height: 21.5rem;
        margin-top: auto;

        @media (min-width: $mq-md) {
            order: 1;
            margin-top: 0;
            height: 28.7rem;
            margin-top: 0rem;
        }
    }

    &__title {
        font-size: $text-2;
        color: $themeColor;
        margin-bottom: 0.5rem;

        @media (min-width: $mq-md) {
            margin-bottom: 2.5rem;
            font-size: $text-3;
        }
    }

    &__btn {
        @media (min-width: $mq-md) {
            margin-top: auto;
        }
    }
}
