.carousel {
    overflow: hidden;
    &__head {
        @media (min-width: $mq-md) {
            display: none;
        }
    }

    & .swiper:not(.category-links__list) {
        margin-top: 2rem;
        overflow: visible;
        
        @media (min-width: $mq-md) {
            margin-top: 0;
        }

        @media (min-width: $mq-lg) {
            overflow: hidden;
        }
    }

    & .swiper-wrapper {}

    & .swiper-slide {   
        height: auto;

        @media (min-width: $mq-md) {
            padding-right: 2.5rem;
            width: 37rem;

            &:last-child {
                width: 33.5rem;
                padding-right: 0;
            }
        }

        &.hide-in-mobile {
            display: none;

            @media (min-width: $mq-md) {
                display: block;
            }
        }

        & .product-card {

            @media (min-width: 0px) and (max-width: 767.98px) {
                height: 100%;
                display: flex;
                flex-direction: column;
    
                & .product-card__body {
                    flex: 1 1 auto;
                }

                & .product-card__price {
                    margin-top: auto;
                }
            }
        }
    }

    &__category-info {

    }

    &__tab-trigger {
        color: $textColorSecondary;
        transition: color $transition;
        cursor: pointer;

        &.active {
            color: $textColor;
        }
    }

    &__category-info-list {
        margin-top: 2rem;
        padding-left: 0;
        margin-bottom: 0;
        display: flex;
        gap: 1rem 2rem;
        flex-wrap: wrap;

        @media (min-width: $mq-md) {
            flex-direction: column;
        }
    }

    &__navigation {
        margin-top: 4rem;

        @media (min-width: $mq-md) {
            margin-top: 4rem;
        }

        & .slider-buttons {
            display: none;

            @media (min-width: $mq-md) {
                display: flex;
            }
        }
    }

    &__footer {
        margin-top: 2rem;

        @media (min-width: $mq-md) {
            display: none;
        }
    }

    &__tab-content {

        &:not(.show) {
            display: none;
        }

        &.enter {
            opacity: 0;

            &.active {
                opacity: 1;
                transition: opacity .6s ease;
            }
        }

        &.exit {
            opacity: 1;

            &.active {
                opacity: 0;
                transition: opacity .6s ease;
            }
        }

        @media (min-width: 0px) and (max-width: 767.98px) {
            & .category-info {
                display: none;
            }
        }
    }
}
