<div class="brand-description-card" brand-description-card>
    <h2 class="brand-description-card__title">Medik8</h2>
    <div class="brand-description-card__logo">
        <a href="#">
            <img src="img/photo/ticker-logo-3.png" alt="">
        </a>
    </div>       
    <div class="brand-description-card__text">
        <div class="brand-description-card__text-preview text-content last-no-margin">
            <p>
                Зробіть свою шкіру здоровою за допомогою найкращих засобів для ванн і тіла. Розслабтеся
                після довгого дня за допомогою заспокійливої ванни Odacité Soul Soothing і солей,
                створених для
                того, щоб зробити шкіру м’якою. Щодо миючих засобів, це має бути підбадьорлив… <a
                    href="#" data-action="show-full-description-card-text" class="button-link"><span>більше</span></a>
            </p>
        </div>
        <div class="brand-description-card__text-full text-content last-no-margin">
            <p>
                Зробіть свою шкіру здоровою за допомогою найкращих засобів для ванн і тіла. Розслабтеся
                після довгого дня за допомогою заспокійливої ванни Odacité Soul Soothing і солей,
                створених для
                того, щоб зробити шкіру м’якою. Щодо миючих засобів, це має бути підбадьорлив Lorem ipsum dolor sit amet consectetur adipisicing elit. Natus, omnis!
            </p>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Praesentium perspiciatis ipsum animi inventore nisi ullam aliquam, nobis libero hic dolore?
            </p>
            <ul>
                <li>
                    Lorem ipsum dolor sit amet.
                </li>
                <li>
                    Lorem ipsum dolor sit amet.
                </li>
                <li>
                    Lorem ipsum dolor sit amet.
                </li>
                <li>
                    Lorem ipsum dolor sit amet.
                </li>
            </ul>
            <p>
                <strong>Lorem ipsum dolor sit amet,</strong> consectetur adipisicing elit. Praesentium perspiciatis ipsum animi inventore nisi ullam aliquam, nobis libero hic dolore?
            </p>
            <p class="text-sm">
                Lorem ipsum dolor, sit amet consectetur adipisicing elit. Dicta soluta eos deleniti quasi? Nobis, laborum.
            </p>
            <button data-action="hide-full-description-card-text" class="button-link"><span>Сховати</span></button>
        </div>
    </div>
</div>