<div class="rating" data-rating="@@value">
    <div class="rating__stars rating__stars-1">
        <div class="rating__star">
            <span class="icon-star-full"></span>
        </div>
        <div class="rating__star">
            <span class="icon-star-full"></span>
        </div>
        <div class="rating__star">
            <span class="icon-star-full"></span>
        </div>
        <div class="rating__star">
            <span class="icon-star-full"></span>
        </div>
        <div class="rating__star">
            <span class="icon-star-full"></span>
        </div>
    </div>
    <div class="rating__stars rating__stars-2">
        <div class="rating__star">
            <span class="icon-star-full"></span>
        </div>
        <div class="rating__star">
            <span class="icon-star-full"></span>
        </div>
        <div class="rating__star">
            <span class="icon-star-full"></span>
        </div>
        <div class="rating__star">
            <span class="icon-star-full"></span>
        </div>
        <div class="rating__star">
            <span class="icon-star-full"></span>
        </div>
    </div>
</div>