

//<ШРИФТЫ>===========================================================================================================
$mainFontFamily: 'Inter', sans-serif;
//$mainFontFamily: 'SFProDisplay', sans-serif;
//$mainFontFamilyItalic: 'SFProDisplay-Italic', sans-serif;
//$secondFontFamily: 'Inter', sans-serif;
$thirdFontFamily: 'HelloAmerica', sans-serif;
//</ШРИФТЫ>===========================================================================================================


//<РАЗМЕРЫ КОНТЕЙНЕРА>===========================================================================================================
$minwidth: 320px;
$mq-sm: 576px;
$mq-md: 768px;
$mq-lg: 992px;
$mq-xl: 1200px;
$mq-xxl: 1400px;
$mouse-device: "(hover: hover) and (pointer: fine)";
$touch-device: "(hover: none) and (pointer: coarse)";
//</РАЗМЕРЫ КОНТЕЙНЕРА>===========================================================================================================

$textColor: #121212;
$textColorSecondary: rgba(#182A64, 0.6);
$textColorThird: #fff;
$textColorWarning: #FF0000;

$themeColor: #182A64;
$themeColorSecondary: #01A7A5;
$themeColorThird: #6A6B6E;
$themeColorFourth: #E8EAF0;
$themeColorWarning: #FF0000;
$pagesBg: #fff;
$hover: #01A7A5;
$textHover: #a9a9a9;
$bgHover: rgba($themeColorThird, 0.1);
$shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);

$step: .5rem;

$transition: .15s ease;

$text-1: 1.2rem;
$text-1-md: 1.4rem;

$text-2: 1.4rem;
$text-2-md: 1.6rem;

$text-3: 1.6rem;
$text-3-md: 2rem;

$text-4: 2rem;
$text-4-md: 2.4rem;


// icons
$icon-check: 'data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTUiIGhlaWdodD0iMTIiIHZpZXdCb3g9IjAgMCAxNSAxMiIgZmlsbD0ibm9uZSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4KPHBhdGggZD0iTTUuMTI1MTIgOC44MDE2MUwxLjgyMzg3IDUuNTAwMzZMMC42OTk3MDcgNi42MTY2MUw1LjEyNTEyIDExLjA0MkwxNC42MjUxIDEuNTQyMDNMMTMuNTA4OSAwLjQyNTc4MUw1LjEyNTEyIDguODAxNjFaIiBmaWxsPSJibGFjayIvPgo8L3N2Zz4K';
$icon-plus: 'data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTciIGhlaWdodD0iMTciIHZpZXdCb3g9IjAgMCAxNyAxNyIgZmlsbD0ibm9uZSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4KPHBhdGggZD0iTTAuNSA4LjVIMTYuNTAwMSIgc3Ryb2tlPSIjMTIxMjEyIi8+CjxwYXRoIGQ9Ik04LjUgMC41TDguNSAxNi41IiBzdHJva2U9IiMxMjEyMTIiLz4KPC9zdmc+Cg==';
$icon-plus-black: 'data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTYiIGhlaWdodD0iMTYiIHZpZXdCb3g9IjAgMCAxNiAxNiIgZmlsbD0ibm9uZSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4KPGxpbmUgeTE9IjguMjUiIHgyPSIxNiIgeTI9IjguMjUiIHN0cm9rZT0iIzEyMTIxMiIgc3Ryb2tlLXdpZHRoPSIxLjUiLz4KPGxpbmUgeDE9IjcuNzUiIHkxPSI0LjM3MTE0ZS0wOCIgeDI9IjcuNzUiIHkyPSIxNiIgc3Ryb2tlPSIjMTIxMjEyIiBzdHJva2Utd2lkdGg9IjEuNSIvPgo8L3N2Zz4K';
$icon-minus: 'data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTYiIGhlaWdodD0iMSIgdmlld0JveD0iMCAwIDE2IDEiIGZpbGw9Im5vbmUiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+CjxsaW5lIHkxPSIwLjUiIHgyPSIxNiIgeTI9IjAuNSIgc3Ryb2tlPSIjMTIxMjEyIi8+Cjwvc3ZnPgo=';
$icon-close: 'data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTIiIGhlaWdodD0iMTIiIHZpZXdCb3g9IjAgMCAxMiAxMiIgZmlsbD0ibm9uZSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4KPHBhdGggZmlsbC1ydWxlPSJldmVub2RkIiBjbGlwLXJ1bGU9ImV2ZW5vZGQiIGQ9Ik0xMC42NDg0IDExLjMwNDVMMC42NDg0NjcgMS40MDUwMkwxLjM1MiAwLjY5NDM1TDExLjM1MTkgMTAuNTkzOEwxMC42NDg0IDExLjMwNDVaIiBmaWxsPSIjNkE2QjZFIi8+CjxwYXRoIGZpbGwtcnVsZT0iZXZlbm9kZCIgY2xpcC1ydWxlPSJldmVub2RkIiBkPSJNMC42NDc5NTcgMTAuNTk0NUwxMC42NDc5IDAuNjk0OThMMTEuMzUxNCAxLjQwNTY1TDEuMzUxNDkgMTEuMzA1MUwwLjY0Nzk1NyAxMC41OTQ1WiIgZmlsbD0iIzZBNkI2RSIvPgo8L3N2Zz4K';
$icon-close-black: 'data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iOSIgaGVpZ2h0PSI5IiB2aWV3Qm94PSIwIDAgOSA5IiBmaWxsPSJub25lIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciPgo8cGF0aCBkPSJNMSAxTDguNSA4LjUiIHN0cm9rZT0iIzEyMTIxMiIvPgo8cGF0aCBkPSJNOC41IDFMMSA4LjUiIHN0cm9rZT0iIzEyMTIxMiIvPgo8L3N2Zz4K';
$icon-asterisk-red: 'data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iNiIgaGVpZ2h0PSI2IiB2aWV3Qm94PSIwIDAgNiA2IiBmaWxsPSJub25lIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciPgo8cGF0aCBkPSJNNS40Mjc3MyA0Ljk2Mzg3TDMuNzY2NiAzLjkxNzk3TDMuODM0OTYgNS44Nzk4OEgyLjkzOTQ1TDMuMDE0NjUgMy45MTc5N0wxLjMzMzAxIDQuOTcwN0wwLjkwOTE4IDQuMTUwMzlMMi42MzE4NCAzLjI3NTM5TDAuOTE2MDE2IDIuMzkzNTVMMS4zMzk4NCAxLjYwMDU5TDMuMDE0NjUgMi42MzI4MUwyLjk0NjI5IDAuNjg0NTdIMy44MzQ5NkwzLjc2NjYgMi42Mzk2NUw1LjQzNDU3IDEuNjAwNTlMNS44NzIwNyAyLjM5MzU1TDQuMTM1NzQgMy4yODIyM0w1Ljg3MjA3IDQuMTU3MjNMNS40Mjc3MyA0Ljk2Mzg3WiIgZmlsbD0iI0ZGMDAwMCIvPgo8L3N2Zz4K';
$icon-box: 'data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz48IS0tIFVwbG9hZGVkIHRvOiBTVkcgUmVwbywgd3d3LnN2Z3JlcG8uY29tLCBHZW5lcmF0b3I6IFNWRyBSZXBvIE1peGVyIFRvb2xzIC0tPg0KPHN2ZyB3aWR0aD0iODAwcHgiIGhlaWdodD0iODAwcHgiIHZpZXdCb3g9IjAgMCAyNCAyNCIgZmlsbD0ibm9uZSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4NCjxwYXRoIGZpbGwtcnVsZT0iZXZlbm9kZCIgY2xpcC1ydWxlPSJldmVub2RkIiBkPSJNMTIgMy42NjMzM0wyMC4yNSA3LjczOThWMTcuMDFMMTIgMjEuMDg2NUwzLjc1IDE3LjAxVjcuNzM5OEwxMiAzLjY2MzMzWk01LjI1IDkuNDEyOTJWMTYuMDc4TDExLjI1IDE5LjA0MjdWMTIuMzc3Nkw1LjI1IDkuNDEyOTJaTTEyLjc1IDEyLjM3NzZWMTkuMDQyN0wxOC43NSAxNi4wNzhWOS40MTI5MkwxNi41IDEwLjUyNDdWMTMuNDk5OUwxNSAxNC4yNDk5VjExLjI2NTlMMTIuNzUgMTIuMzc3NlpNMTcuODA3IDguMjA1NzdMMTUuODUyNyA5LjE3MTM5QzE1LjgwOTkgOS4xMzYwNiAxNS43NjI0IDkuMTA0OTggMTUuNzEwNiA5LjA3OTA4TDEwLjEwMTUgNi4yNzQ1NEwxMiA1LjMzNjQ1TDE3LjgwNyA4LjIwNTc3Wk04LjQxNDUyIDcuMTA4MUwxNC4xODcxIDkuOTk0NEwxMiAxMS4wNzUxTDYuMTkzMDQgOC4yMDU3N0w4LjQxNDUyIDcuMTA4MVoiIGZpbGw9IiMxMjEyMTIiLz4NCjwvc3ZnPg==';