

//<ШРИФТЫ>===========================================================================================================
$mainFontFamily: 'SFProDisplay', sans-serif;
$mainFontFamilyItalic: 'SFProDisplay-Italic', sans-serif;
$secondFontFamily: 'Inter', sans-serif;
$thirdFontFamily: 'HelloAmerica', sans-serif;
//</ШРИФТЫ>===========================================================================================================


//<РАЗМЕРЫ КОНТЕЙНЕРА>===========================================================================================================
$minwidth: 320px;
$mq-sm: 576px;
$mq-md: 768px;
$mq-lg: 992px;
$mq-xl: 1200px;
$mq-xxl: 1400px;
$mouse-device: "(hover: hover) and (pointer: fine)";
$touch-device: "(hover: none) and (pointer: coarse)";
//</РАЗМЕРЫ КОНТЕЙНЕРА>===========================================================================================================

$textColor: #121212;
$textColorSecondary: #6A6B6E;
$textColorThird: #fff;
$textColorWarning: #FF0000;

$themeColor: #121212;
$themeColorSecondary: #0007FF;
$themeColorThird: #6A6B6E;
$themeColorFourth: #EAEAEA;
$themeColorWarning: #FF0000;
$pagesBg: #fff;
$hover: #0007FF;
$bgHover: rgba($themeColorThird, 0.1);
$shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);

$step: .5rem;

$transition: .15s ease;

$text-1: 1.2rem;
$text-1-md: 1.4rem;

$text-2: 1.4rem;
$text-2-md: 1.6rem;

$text-3: 1.6rem;
$text-3-md: 2rem;

$text-4: 2rem;
$text-4-md: 2.4rem;
