*,
*:before,
*:after {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
:focus,
:active {
	outline: none;
}
a:focus,
a:active {
	outline: none;
}
:focus, a:focus {
	//opacity: 0.7;
}
aside,
nav,
footer,
header,
section {
	display: block;
}
html {
	height: 100%;
	font-size: 10px;

	@media (max-width: 991.98px) {
		font-size: 10px !important;
	}

	@media (min-width: 1440px) {
		font-size: 10px !important;
	}
}
html,
body {
	min-width: $minwidth;
	margin: 0 auto;
}
body {
	font-family: $mainFontFamily;
	-ms-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
	color: $textColor;
	font-weight: 400;
	font-size: $text-3;
	line-height: normal;
	transition: opacity 0.4s ease;
	position: relative;
	min-height: 100%;
	display: flex;
	flex-direction: column;
	background-color: $pagesBg;

	&:not(.mobile) {
		& a:not(.not-hover):hover {
			color: $hover;
		}
	}
}

::-webkit-scrollbar {
	width: 3px;
	height: 3px;
}
::-webkit-scrollbar-thumb {
	background-color: $themeColorThird;
	border-radius: 0px;
}

::-webkit-scrollbar-track {
	background-color: #eaeaea;
	border-radius: 0px;
	box-shadow: inset 0px 0px 0px 0px #fff;
}

@media (min-width: $mq-lg) {
	::-webkit-scrollbar {
		width: 8px;
		height: 8px;
	}
}

input,
button,
textarea {
	font-family: $mainFontFamily;
}
input::-ms-clear {
	display: none;
}

input[type="text"],
input[type="email"],
input[type="tel"],
textarea {
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
}

button {
	cursor: pointer;
	box-shadow: none;
	outline: none;
	border: none;
	background-color: transparent;
	padding: 0;
}
button::-moz-focus-inner {
	padding: 0;
	border: 0;
}

img {
	vertical-align: top;
}

.img-svg {
	height: 1em;
	width: auto;
}

._page {
	flex: 1 1 auto;
}

.head-height-compensation {
	padding-top: 6.1rem;

	@media (min-width: $mq-md) {
		padding-top: 6.1rem;
	}
	@media (min-width: $mq-lg) {
		padding-top: 8.1rem;
	}
}

.container {
	width: calc(100% - 2rem);
	margin: 0 auto;
	padding: 0;
	max-width: none;

	@media (min-width: $mq-md) {	
		width: calc(100% - 4rem);
		max-width: calc(144rem - 4rem);
	}
}

.ibg {
	position: relative;
	img {
		position: absolute;
		width: 100%;
		height: 100%;
		top: 0;
		left: 0;
		object-fit: cover;
	}
}


.object-fit-contain {
	object-fit: contain !important;
}



[data-tab-content] {
	display: none;

	&.tab-active {
		display: block;
		animation: tabs-content 0.6s ease forwards;
	}

	@keyframes tabs-content {
		from {
			opacity: 0;
		}
		to {
			opacity: 1;
		}
	}
}

[data-spoller-trigger] {
	& + * {
		display: none;
	}
}


// === TEXT CONTETN ========================================================================

button {
	color: inherit;
}
button:hover {
	color: inherit;
}

a,
a:visited {
	text-decoration: none;
}
a {
	transition: all 0.3s ease;
	color: inherit;
}

a:hover {
	text-decoration: none;
	color: inherit;
}
ul li {
	list-style: none;
}

p,
ul,
ol,
figure {
	margin-bottom: 1rem;
}

h2, .title-2 {
	font-weight: 700;
	font-size: 2.4rem;
	text-transform: uppercase;
	margin-bottom: 0;
	margin-top: 0;
}

h3, .title-3 {
	font-weight: 700;
	font-size: 2rem;
	text-transform: uppercase;
	margin-bottom: 0;
	margin-top: 0;
}
h4, .title-4 {
	font-weight: 700;
	font-size: 1.6rem;
	text-transform: uppercase;
	margin-bottom: 0;
	margin-top: 0;
}
h5, .title-5 {
	font-weight: 700;
	font-size: 1.4rem;
	text-transform: uppercase;
	margin-bottom: 0;
	margin-top: 0;
}


.text-1 {
	font-weight: 400;
	font-size: 1.2rem;
}

.text-1-md {
	@media (min-width: $mq-md) {
		font-size: 1.4rem;
	}
}

.text-2 {
	font-weight: 400;
	font-size: 1.4rem;
}

.text-2-md {
	@media (min-width: $mq-md) {
		font-size: 1.6rem;
	}
}

.text-3 {
	font-weight: 400;
	font-size: 1.6rem;
}

.text-3-md {
	@media (min-width: $mq-md) {
		font-size: 2rem;
	}
}

.text-4 {
	font-weight: 400;
	font-size: 2rem;
}

.text-4-md {
	@media (min-width: $mq-md) {
		font-size: 2.4rem;
	}
}

.font-weight-400 {
	font-weight: 400;
}
.font-weight-700 {
	font-weight: 700;
}

.font-weight-md-400 {
	@media (min-width: $mq-md) {
		font-weight: 400;
	}
}
.font-weight-md-700 {
	@media (min-width: $mq-md) {
		font-weight: 700;
	}
}

.text-color-dark {
	color: $themeColor;
}
.text-color-light {
	color: $textColorThird;
}
.text-color-secondary {
	color: $textColorSecondary;
}
.text-color-warning {
	color: $themeColorWarning;
}

.text-sm {
	font-size: $text-1;
	color: $textColorSecondary;
}

.text-content {
	& h1,
	& h2,
	& h3,
	& h4,
	& h5,
	& h6 {
		margin-bottom: 2rem;
	}

	& p,
	& ul,
	& ol {
		margin-bottom: 1rem;
	}


	& ul {
		padding-left: 3em;

		& > li {
			list-style: disc;

			&:not(:last-child) {
				margin-bottom: 0.7em;
			}

			& > *:last-child {
				margin-bottom: 0;
			}
		}
	}

	& ol {
		padding-left: 3em;


		& > li {
			&:not(:last-child) {
				margin-bottom: 0.7em;
			}

			& > *:last-child {
				margin-bottom: 0;
			}
		}
	}

	& figure {
		display: block;
		width: 100%;
		margin: 3rem 0;

		@media (min-width: $mq-lg) {
			margin: 4rem 0;
		}


		& img {
			display: block;
			width: 100%;
			height: auto;
		}

		& + h1,
		& + h2,
		& + h3,
		& + h4,
		& + h5,
		& + h6 {
			margin-top: 0rem !important;
		}
	}

	& video {
		object-fit: cover;
		display: block;
		width: 100%;
		height: 60rem;
		margin: 4rem 0;

	}

	& iframe {
		display: block;
		width: 100%;
		height: 60rem;
		margin: 4rem 0;

	}

	& table {
		margin: 4rem 0;

		& + h1,
		& + h2,
		& + h3,
		& + h4,
		& + h5,
		& + h6 {
			margin-top: 0rem !important;
		}
	}

	& p,
	& ul,
	& ol,
	& figure,
	& h1,
	& h2,
	& h3,
	& h4,
	& h5,
	& h6 {
		& ~ h1,
		& ~ h2,
		& ~ h3,
		& ~ h4,
		& ~ h5,
		& ~ h6 {
			margin-top: 2rem;
		}
	}
}

.last-no-margin {
	& > *:last-child {
		margin-bottom: 0;
	}
}

// === and TEXT CONTETN ========================================================================


// == keyframes ======
@keyframes fadeIn {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}
// == // keyframes ======


.top-space-10 {
	margin-top: 1rem;
}
.top-space-20 {
	margin-top: 2rem;
}
.top-space-30 {
	margin-top: 3rem;
}
.top-space-40 {
	margin-top: 4rem;
}
.top-space-50 {
	margin-top: 5rem;
}
.top-space-60 {
	margin-top: 6rem;
}
.top-space-70 {
	margin-top: 7rem;
}
.top-space-80 {
	margin-top: 8rem;
}
.top-space-90 {
	margin-top: 9rem;
}
.top-space-100 {
	margin-top: 10rem;
}
.top-space-110 {
	margin-top: 11rem;
}
.top-space-120 {
	margin-top: 12rem;
}
.top-space-130 {
	margin-top: 13rem;
}
.top-space-140 {
	margin-top: 14rem;
}
.top-space-150 {
	margin-top: 15rem;
}
.top-space-160 {
	margin-top: 16rem;
}
.top-space-170 {
	margin-top: 17rem;
}
.top-space-180 {
	margin-top: 18rem;
}
.top-space-190 {
	margin-top: 19rem;
}
.top-space-200 {
	margin-top: 20rem;
}

.top-space-md-10 {
	@media (min-width: $mq-md) {
		margin-top: 1rem;
	}
}
.top-space-md-20 {
	@media (min-width: $mq-md) {
		margin-top: 2rem;
	}
}
.top-space-md-30 {
	@media (min-width: $mq-md) {
		margin-top: 3rem;
	}
}
.top-space-md-40 {
	@media (min-width: $mq-md) {
		margin-top: 4rem;
	}
}
.top-space-md-50 {
	@media (min-width: $mq-md) {
		margin-top: 5rem;
	}
}
.top-space-md-60 {
	@media (min-width: $mq-md) {
		margin-top: 6rem;
	}
}
.top-space-md-70 {
	@media (min-width: $mq-md) {
		margin-top: 7rem;
	}
}
.top-space-md-80 {
	@media (min-width: $mq-md) {
		margin-top: 8rem;
	}
}
.top-space-md-90 {
	@media (min-width: $mq-md) {
		margin-top: 9rem;
	}
}
.top-space-md-100 {
	@media (min-width: $mq-md) {
		margin-top: 10rem;
	}
}
.top-space-md-110 {
	@media (min-width: $mq-md) {
		margin-top: 11rem;
	}
}
.top-space-md-120 {
	@media (min-width: $mq-md) {
		margin-top: 12rem;
	}
}
.top-space-md-130 {
	@media (min-width: $mq-md) {
		margin-top: 13rem;
	}
}
.top-space-md-140 {
	@media (min-width: $mq-md) {
		margin-top: 14rem;
	}
}
.top-space-md-150 {
	@media (min-width: $mq-md) {
		margin-top: 15rem;
	}
}
.top-space-md-160 {
	@media (min-width: $mq-md) {
		margin-top: 16rem;
	}
}
.top-space-md-170 {
	@media (min-width: $mq-md) {
		margin-top: 17rem;
	}
}
.top-space-md-180 {
	@media (min-width: $mq-md) {
		margin-top: 18rem;
	}
}
.top-space-md-190 {
	@media (min-width: $mq-md) {
		margin-top: 19rem;
	}
}
.top-space-md-200 {
	@media (min-width: $mq-md) {
		margin-top: 20rem;
	}
}

