.woocommerce-NoticeGroup, .woocommerce-notices-wrapper, .checkout .woocommerce-error  {
    @extend .container;
}

.woocommerce-error, 
.woocommerce-info, 
.woocommerce-message {
    padding: 4.4rem 0 0;
    border-color: $themeColorSecondary;
    color: inherit;
    font-size: $text-3;
    background-color: transparent;

    &::before {
        left: 0;
        top: 1rem;
        font-size: 2.4rem;
        color: $themeColorSecondary;
    }
}

ul.woocommerce-error, 
ul.woocommerce-info, 
ul.woocommerce-messagule {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.woocommerce-error {
    border-color: $themeColorWarning;

    &::before {
        color: $themeColorWarning;
    }
}

.woocommerce-NoticeGroup.woocommerce-NoticeGroup-checkout {
    display: none !important;
}   