.form {
    display: flex;
    flex-direction: column;
    padding: 5.7rem 5rem 5rem;
    margin: 0 auto;
    width: 100%;
    max-width: 58.6rem;
    position: relative;

    @media (max-width: $md3+px) {
        padding: 50px 20px 34px;
    }

    & .close-btn {
        position: absolute;
        top: 2.5rem;
        right: 2rem;
    }

    &__title {
        margin-bottom: 2.4rem;

        @media (max-width: 399.98px) {
            font-size: 30px;
        }
    }

    &__text {
        margin-bottom: 2.5rem;
        text-align: center;
        &.text-content {
            font-size: 1.8rem;
        }
    }

    &__item {
        margin-left: auto;
        margin-right: auto;
        width: 100%;
        max-width: 31.3rem;

        @media (max-width: $md4+px) {
            max-width: 230px;
        }

        &:not(:last-child) {
            margin-bottom: 1.9rem;

            @media (max-width: $md4+px) {
                margin-bottom: 16px;
            }
        }

        &--has-link {
            margin-top: -1rem;
        }
    }

    &__link {
        padding: 0 1.5rem;
    }

    &__submit {
        margin-top: 2.7rem;
        align-self: center;

        @media (max-width: $md4+px) {
            margin-top: 11px;
        }
    }
}

.input {
    display: flex;
    align-items: center;
    width: 100%;
    background: rgba(40, 83, 143, 0.05);
    border-radius: 0.8rem;
    height: 4rem;
    padding: 0.8rem 1.5rem;
    border: 1px solid transparent;
    outline: none;
    font-size: 1.4rem;
    line-height: 1.58em;
    font-weight: 400;
    letter-spacing: 0.05em;

    &:focus {
        border-color: $secondColor;
    }

    &::placeholder {
        font-size: 1.4rem;
        font-weight: 400;
        letter-spacing: 0.05em;
    }
}
.textarea {
    display: flex;
    align-items: center;
    width: 100%;
    background: rgba(40, 83, 143, 0.05);
    border-radius: 0.8rem;
    height: 10rem;
    padding: 0.8rem 1.5rem;
    border: 1px solid transparent;
    outline: none;
    font-size: 1.4rem;
    line-height: 1.58em;
    letter-spacing: 0.05em;
    font-weight: 400;

    &:focus {
        border-color: $secondColor;
    }

    &::placeholder {
        font-size: 14px;
        font-weight: 400;
        letter-spacing: 0.05em;
    }
}

.checkbox-radio {
    display: flex;
    align-items: center;
    position: relative;

    & input {
        position: absolute;
        z-index: -1;
        opacity: 0;
        visibility: hidden;

        &:checked ~ {
            & .checkbox-radio__square {
                background-color: $active;
                border-color: $active;
                background-image: url("data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTAiIGhlaWdodD0iOCIgdmlld0JveD0iMCAwIDEwIDgiIGZpbGw9Im5vbmUiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+CjxwYXRoIGQ9Ik0wLjk5OTk5OSA0LjYzNTg4TDIuNDc0NzEgNi4xMTA1OUMyLjg2NTIzIDYuNTAxMTEgMy40OTg0IDYuNTAxMTEgMy44ODg5MiA2LjExMDU5TDkgMC45OTk1MTIiIHN0cm9rZT0id2hpdGUiIHN0cm9rZS13aWR0aD0iMS4yIiBzdHJva2UtbGluZWNhcD0icm91bmQiLz4KPC9zdmc+Cg==");
            }
        }
    }

    &__square {
        flex: 0 0 auto;
        height: 1.2rem;
        width: 1.2rem;
        border: 1px solid $mainColor;
        margin-right: 1rem;
        background-position: center;
        background-size: 85%;
        background-repeat: no-repeat;
    }

    &__text {
        font-weight: 400;
        font-size: 14px;
        line-height: 1.5em;
    }
}
