<header class="header @@mod" data-header>
    <div class="container">
        <div class="header__body">
            <div class="header__burger burger" data-side-panel-open="menu-mobile">
                <span class="burger__cross"></span>
                <span class="burger__cross"></span>
                <span class="burger__cross"></span>
                <span class="burger__cross"></span>
            </div>
            <div class="header__logo">
                <a href="#">
                    <img src="img/logo/logo.svg" alt="">
                </a>
            </div>
            <nav class="header__menu menu">
                <ul class="menu__list">
                    <li class="menu__list-item menu__list-item--has-sab-menu" data-menu-item-has-sab-menu>
                        <a class="menu__link" href="#">
                            Catalogggg
                            <!-- use class .menu__link--active -->
                        </a>
                        <div class="menu__sub-menu-wrap">
                            <ul class="sub-menu">
                                <li><a class="sub-menu__link" href="#">Swedish wall
                                        <!-- use class .sub-menu__link--active -->
                                    </a></li>
                                <li><a class="sub-menu__link" href="#">Bed</a></li>
                                <li><a class="sub-menu__link" href="#">Slides board</a></li>
                                <li><a class="sub-menu__link" href="#">Mats</a></li>
                                <li><a class="sub-menu__link" href="#">A rock</a></li>
                                <li><a class="sub-menu__link" href="#">Equipment</a></li>
                                <li><a class="sub-menu__link" href="#">Walls for climbing</a></li>
                                <li><a class="sub-menu__link" href="#">Playground</a></li>
                                <li><a class="sub-menu__link" href="#">Toys</a></li>
                            </ul>
                            <div class="menu__img">
                                <a href="#">
                                    <img src="img/photo/header-img.jpg" alt="">
                                </a>
                            </div>
                        </div>
                    </li>
                    <li class="menu__list-item">
                        <a class="menu__link" href="#">About Us</a>
                    </li>
                    <li class="menu__list-item">
                        <a class="menu__link" href="#">Gallery</a>
                    </li>
                    <li class="menu__list-item">
                        <a class="menu__link" href="#">Blog</a>
                    </li>
                    <li class="menu__list-item">
                        <a class="menu__link" href="#">
                            FAQ
                        </a>
                    </li>
                    <li class="menu__list-item">
                        <a class="menu__link" href="#">
                            Shipping and payment
                        </a>
                    </li>
                    <li class="menu__list-item">
                        <a class="menu__link" href="#">
                            Contacts
                        </a>
                    </li>
                </ul>
            </nav>
            <div class="header__search">
                <a href="#" data-action="show-main-search">
                    <img class="img-svg" src="img/icons/search.svg" alt="">
                </a>
            </div>
            <div class="header__actions">
                <div class="header-actions">
                    <div class="header-actions__item">
                        <a class="header-actions__link" href="#">
                            <img class="img-svg" src="img/icons/user.svg" alt="">
                        </a>
                    </div>
                    <div class="header-actions__item">
                        <a class="header-actions__link" href="#">
                            <img class="img-svg" src="img/icons/like.svg" alt="">
                        </a>
                    </div>
                    <div class="header-actions__item">
                        <a class="header-actions__link" href="#">
                            <img class="img-svg" src="img/icons/bag.svg" alt="">
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>

<div class="main-search" data-main-search>
    <form action="">
        <div class="main-search__body container">
            <button class="main-search__submit">
                <img class="img-svg" src="img/icons/search.svg" alt="">
            </button>
            <input type="text" class="main-search__input" placeholder="Enter text to search...">
            <div class="main-search__close" data-action="hide-main-search"><span></span></div>
        </div>
    </form>
</div>

<div class="side-panel menu-mobile" data-side-panel="menu-mobile">
    <div class="side-panel__close" data-side-panel-close><span></span></div> 
    <div class="side-panel__body">
        <div class="side-panel__head">
            <div class="menu-mobile__logo">
                <a href="#">
                    <img src="img/logo/logo.svg" alt="">
                </a>
            </div>
            <div class="menu-mobile__back-btn" data-action="hide-next-list">
                back
            </div>
        </div>
        <div class="side-panel__scroll-wrap">
            <div class="swiper" data-mobile-menu-slider>
                <div class="swiper-wrapper">
                    <div class="swiper-slide">
                        <ul class="menu-mobile__list">
                            <li class="menu-mobile__list-item" data-action="show-next-list">
                                <a class="menu-mobile__link menu-mobile__link--with-chevron menu-mobile__link"
                                    href="#">Catalog</a>
                            </li>
                            <li class="menu-mobile__list-item">
                                <a class="menu-mobile__link" href="#">
                                    About Us
                                </a>
                            </li>
                            <li class="menu-mobile__list-item">
                                <a class="menu-mobile__link" href="#">
                                    Gallery
                                </a>
                            </li>
                            <li class="menu-mobile__list-item">
                                <a class="menu-mobile__link" href="#">
                                    Blog
                                </a>
                            </li>
                            <li class="menu-mobile__list-item">
                                <a class="menu-mobile__link" href="#">
                                    FAQ
                                </a>
                            </li>
                            <li class="menu-mobile__list-item">
                                <a class="menu-mobile__link" href="#">
                                    Shipping and payment
                                </a>
                            </li>
                            <li class="menu-mobile__list-item">
                                <a class="menu-mobile__link" href="#">
                                    Contacts
                                </a>
                            </li>
                        </ul>
                    </div>
                    <div class="swiper-slide">
                        <ul class="menu-mobile__list">
                            <li class="menu-mobile__list-item">
                                <a class="menu-mobile__link" href="#">
                                    Swedish wall
                                </a>
                            </li>
                            <li class="menu-mobile__list-item">
                                <a class="menu-mobile__link" href="#">
                                    Bed
                                </a>
                            </li>
                            <li class="menu-mobile__list-item">
                                <a class="menu-mobile__link" href="#">
                                    Slides board
                                </a>
                            </li>
                            <li class="menu-mobile__list-item">
                                <a class="menu-mobile__link" href="#">
                                    Mats
                                </a>
                            </li>
                            <li class="menu-mobile__list-item">
                                <a class="menu-mobile__link" href="#">
                                    A rock
                                </a>
                            </li>
                            <li class="menu-mobile__list-item">
                                <a class="menu-mobile__link" href="#">
                                    Equipment
                                </a>
                            </li>
                            <li class="menu-mobile__list-item">
                                <a class="menu-mobile__link" href="#">
                                    Walls for climbing
                                </a>
                            </li>
                            <li class="menu-mobile__list-item">
                                <a class="menu-mobile__link" href="#">
                                    Playground
                                </a>
                            </li>
                            <li class="menu-mobile__list-item">
                                <a class="menu-mobile__link" href="#">
                                    Toys
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>