.select-wrap {
    &.disabled {
        pointer-events: none;

        & .select__value {
            background-color: $themeColorFourth;
        }
    }
}
.select {
    position: relative;

    &.required {
        & .select__value {
            &:after {
                position: absolute;
                content: "*";
                color: #ff0000;
                z-index: 2;
                top: 50%;
                right: 2rem;
                transform: translateY(-50%);
                font-size: $text-2;
                transition: opacity $transition;
            }
        }
    }

    &._active {
        & .select__value {
            border-color: $themeColor;

            &:after {
                display: none;
            }
        }
    }

    &.selected {
        & .select__value {
            border-color: $themeColor;
            color: $textColor;
            &:after {
                display: none;
            }
        }
    }

    &__item {
        position: relative;
        cursor: pointer;
    }
    // .select__title
    &__title {
    }
    // .select__value
    &__value {
        display: flex;
        align-items: center;
        width: 100%;
        height: 4rem;
        outline: none;
        box-shadow: none;
        padding: 0.8rem 2rem 0.8rem;
        border-radius: 0;
        border: 1px solid $themeColorFourth;
        font-size: $text-3;
        color: $textColorSecondary;
        transition:
            border-color $transition,
            color $transition;

        &:-webkit-autofill,
        &:-webkit-autofill:hover,
        &:-webkit-autofill:focus {
            -webkit-text-fill-color: $textColor;
            -webkit-box-shadow: 0 0 0px 1000px #fff inset;
        }

        @media (min-width: $mq-md) {
            height: 4rem;
        }
    }
    // .select__options
    &__options {
        display: none;
        position: absolute;
        top: calc(100% + 1px);
        min-width: 100%;
        left: 0;
        background-color: $pagesBg;
        max-height: 20rem;
        overflow-y: auto;
        padding-top: 0.4rem;
        padding-bottom: 0.4rem;
        box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
        border-radius: 0.7rem;

        @media (min-width: $mq-lg) {
            max-height: 31.5rem;
        }
    }
    // .select__option
    &__option {
        cursor: pointer;
        font-weight: 400;
        font-size: 1.4rem;
        display: flex;
        align-items: center;
        transition: all 0.15s ease;
        padding: 0.6rem 2rem;
    }
    &._active {
        z-index: 5;
        .select__value {
            &:before {
                transform: translateY(-50%) scale(1, -1);
            }
        }
        .select__options {
            display: block;
        }
    }
}
