.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 101;
    background-color: $pagesBg;

    &--is-scrolling {
        background-color: $pagesBg;
        box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    }

    &--transparent {
        &:not(.header--is-scrolling) {
            background-color: transparent;
        }
    }
}

.header-desk {
    display: none;

    @media (min-width: $mq-lg) {
        display: block;
    }

    & .header-action {
        padding: 2.5rem 0;
    }

    & .main-search {
        position: absolute;
        z-index: 2;
        top: 50%;
        right: 0;
        transform: translateY(-50%) translateX(2rem);
        width: 31.7rem;
        transition: opacity .3s ease, transform .3s ease;

        &.show {
            transform: translateY(-50%) translateY(0rem);
        }

        & .main-search__btn-close {
            display: none;
        }

        & .input {
            padding-right: 2rem;
        }
    }
}

.header-mob {
    position: relative;

    @media (min-width: $mq-lg) {
        display: none;
    }

    & .main-search {
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        padding: 1rem;
        background-color: $pagesBg;
        z-index: 5;

        @media (min-width: $mq-md) {
            padding: 1rem 2rem;
        }
    }
}

.header-actions {
    padding: 2rem 0;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 12.9rem;

    @media (min-width: $mq-lg) {
        padding: 3rem 0;
    }

    &__left {
        display: flex;
        align-items: center;
        gap: 2rem;
    }

    &__item {
        font-size: 2.1rem;
        display: flex;
        align-items: center;
        text-transform: uppercase;
        position: relative;

        @media (min-width: $mq-lg) {
            font-size: $text-3;
        }

        & img, & svg {
            height: 2.1rem;
            width: auto;
            display: block;
        }

        & button {
            text-transform: uppercase;

            @media #{$mouse-device} {
                &:hover {
                    color: $themeColorSecondary;
                }
            }
        }
    }

    &__logo {
        position: absolute;
        top: 2.4rem;
        left: 50%;
        width: 12.9rem;
        transform: translateX(-41.68%);

        @media (min-width: $mq-lg) {
            top: 3.4rem;
        }

        & img,
        & svg {
            width: 100%;
            height: auto;
            display: block;
        }
    }

    &__right {
        display: flex;
        align-items: center;
        gap: 2rem;
    }
}

.top-offer {
    display: none;
    font-family: $secondFontFamily;
    font-size: $text-1;
    font-style: italic;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    opacity: 0;
    transition: opacity $transition, color $transition;
    text-align: center;

    @media (min-width: $mq-lg) {
        font-size: $text-2;
    }

    @media #{$touch-device} {
        color: $textColorThird !important;
    }

    &.show {
        display: block;
        opacity: 1;
    }

    &__inner {
        position: relative;
        width: 100% !important;
    }

    &__text {
        width: 100%;
        text-align: center;
        min-height: 3rem;
        padding: 0.2rem 3rem;
        display: flex;
        align-items: center;
        justify-content: center;
        color: $textColorThird;
        background-color: $themeColor;
        transition: color $transition;

        @media (min-width: $mq-lg) {
            padding: 0.2rem 5rem;
        }

        @media #{$mouse-device} {
            &:hover {
                color: #a9a9a9;
            }
        }

    }

    &__close {
        color: $textColorThird !important;
        flex: 0 0 auto;
        font-size: 1rem;
        display: flex;
        align-items: center;
        position: absolute;
        padding: 0.5rem;
        top: 50%;
        transform: translateY(-50%);
        right: 0.5rem;
        transition: background-color $transition;

        @media (min-width: $mq-md) {
            right: 1.5rem;
        }

        @media #{$mouse-device} {
            &:hover {
                background-color: rgba(#fff, 0.2);
            }
        }
    }
}

.basket-count {
    background-color: $themeColor;
    height: 2.1rem;
    min-width: 2.1rem;
    color: $textColorThird;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0rem 0.3rem;
    font-size: $text-3;
    transition: color $transition;

    @media #{$mouse-device} {
        &:hover {
            color: #a9a9a9 !important;
        }
    }
}

.mobile-menu {
    position: fixed;
    top: 0;
    right: 100%;
    width: calc(100% - 10rem);
    min-width: 28rem;
    height: 100dvh;
    z-index: 102;
    background-color: $pagesBg;
    transition: transform .4s ease;

    &.open {
        transform: translateX(100%);
    }

    &__inner {
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        gap: 1.5rem;
    }

    &__head {
        position: relative;

        & .main-search {
            position: absolute;
            top: 50%;
            left: 0;
            width: calc(100% - 3.3rem);
            transform: translateY(-50%) translateX(-2rem);
            z-index: 5;
            background-color: $pagesBg;
            padding: 2rem 0;
            transition: opacity .3s ease, transform .3s ease;

            &.show {
                transform: translateY(-50%) translateY(0rem);
            }

            & .main-search__btn-close {
                display: none;
            }

            & .input {
                padding-right: 2rem;
            }
        }
    }

    &__body {
        height: 100%;
        text-transform: uppercase;
        position: relative;
        overflow: hidden;
        margin-right: -0.5rem;
        padding-right: 0.5rem;
    }

    &__main-layer {
        display: flex;
        flex-direction: column;
        gap: 4rem;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        overflow-y: auto;
        overflow-x: hidden;
        margin-right: -0.5rem;
        padding-right: 0.5rem;
    }

    &__layer {
        position: absolute;
        top: 0;
        left: 100%;
        width: 100%;
        height: 100%;
        background-color: $pagesBg;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        position: none;
        transition: opacity .3s ease, transform .3s ease;

        &.show {
            position: auto;
            transform: translateX(-100%);
        }

        & .mobile-menu__list {
            height: 100%;
            overflow-y: auto;
            overflow-x: hidden;
            padding-right: 0.5rem;
        }

        &.overflow-hidden {
            & .mobile-menu__list {
                overflow: hidden;
            }
        }
    }

    &__layer-title {
       text-align: left;
        text-transform: uppercase;
        margin-bottom: 1rem;

        position: relative;
        padding-left: 2rem;


        &:before {
            font-family: 'icomoon' !important;
            speak: never;
            font-style: normal;
            font-weight: normal;
            font-variant: normal;
            text-transform: none;
            line-height: 1;
            -webkit-font-smoothing: antialiased;
            -moz-osx-font-smoothing: grayscale;
            position: absolute;
            content: "\e90d";
            top: 50%;
            left: 0;
            transform: translateY(-50%);
            transition: transform $transition;
            font-size: 1.9rem;
        }
    }

    &__row {
        display: flex;
        flex-direction: column;
        gap: 2rem;

        &:not(:last-child) {
            position: relative;

            &:before {
                position: absolute;
                content: '';
                height: 1px;
                top: calc(100% + 2rem);
                transform: translateY(-50%);
                background-color: $themeColorFourth;
                width: 100%;
            }
        }
    }

    &__title {
        font-weight: 700;
        text-transform: uppercase;
        
        &[data-collapse] {
            position: relative;
            padding-right: 2rem;

            &.open {
                &:before {
                    transform: translateY(-50%) rotate(90deg);
                }
            }

            &:before {
                font-family: 'icomoon' !important;
                speak: never;
                font-style: normal;
                font-weight: normal;
                font-variant: normal;
                text-transform: none;
                line-height: 1;
                -webkit-font-smoothing: antialiased;
                -moz-osx-font-smoothing: grayscale;
                position: absolute;
                content: "\e90c";
                top: 50%;
                right: 0;
                transform: translateY(-50%);
                transition: transform $transition;
                font-size: 1.9rem;
            }
        }
    }

    &__list {
        padding-left: 0;
        margin-bottom: 0;

        &:not(:first-child) {
            margin-top: 2rem;
        }

        & > li {
            &:not(:first-child) {
                margin-top: 2rem;
            }
        }

        &[data-collapse-target="language"] {
            padding-left: 1rem;
            & .active {
                color: $themeColorSecondary;
            }
        }

        & button {
            text-transform: uppercase;
            display: block;
            width: 100%;
            text-align: left;


            &[data-action] {
                position: relative;
                padding-right: 2rem;


                &:before {
                    font-family: 'icomoon' !important;
                    speak: never;
                    font-style: normal;
                    font-weight: normal;
                    font-variant: normal;
                    text-transform: none;
                    line-height: 1;
                    -webkit-font-smoothing: antialiased;
                    -moz-osx-font-smoothing: grayscale;
                    position: absolute;
                    content: "\e90c";
                    top: 50%;
                    right: 0;
                    transform: translateY(-50%);
                    transition: transform $transition;
                    font-size: 1.9rem;
                }
            }
        }
    }

    &__list-title {
        text-transform: uppercase;
        font-size: $text-3;
        font-weight: 700;
    }

    &__sublist {
        margin-top: 2rem;
        margin-bottom: 0;
        padding-left: 2rem;
        text-transform: none;
        display: flex;
        flex-direction: column;
        gap: 1rem;
        font-size: $text-3;
    }

    &__footer {
        padding-bottom: 1.5rem;
        padding-top: 1.5rem;
    }

    &__cabinet-buttons {
        margin-top: 2rem;
        display: flex;
        flex-direction: column;
        gap: 1rem;
    }

    &__close {
        display: flex;
    }
}


.language {
    position:  relative;
    cursor: pointer;

    &:hover {
        & .language__list {
            visibility: visible;
            opacity: 1;
            pointer-events: auto;
        }
    }

    &__current {

    }

    &__list {
        padding-left: 0;
        margin-bottom: 0;
        position: absolute;
        top: 100%;
        left: -1.5rem;
        min-width: calc(100% + 3rem);
        background-color: $pagesBg;
        border-radius: 0.7rem;
        padding: 1.5rem;
        visibility: hidden;
       opacity: 0;
        pointer-events: none;
        background-color: $pagesBg;
        color: $textColorSecondary;
    }
}

.main-search {
    opacity: 0;
    pointer-events: none;
    transition: opacity .3s ease;

    &.show {
        opacity: 1;
        pointer-events: auto;
    }

    &__inner {
        position: relative;

        & .input {
            position: relative;
            z-index: 1;
            padding-left: 4.7rem;
            padding-right: 4.7rem;
            height: 3rem;

            @media (min-width: $mq-lg) {
                height: 4rem;
                padding-left: 5rem;
            }
        }
    }

    &__btn {
        display: flex;
        align-items: center;
        padding: 0.5rem;
        font-size: 1.6rem;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        left: 0.8rem;
        transition: background-color $transition;
        cursor: pointer;
        z-index: 2;
        color: $textColor !important;

        @media (min-width: $mq-lg) {
            font-size: 1.9rem;
            left: 1.5rem;
        }

        @media #{$mouse-device} {
            &:hover {
                background-color: $bgHover;
            }
        }
    }

    &__btn-close {
        display: flex;
        align-items: center;
        padding: 0.5rem;
        font-size: 1.6rem;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        right: 0.8rem;
        z-index: 2;
    }
}