.spoller {
    padding-left: 0;
    margin-bottom: 0;
    display: flex;
    flex-direction: column;
    gap: 1rem;

    &__item-title {
        position: relative;
        cursor: pointer;

        &.active {
            &::before {
                content: '';
                background-color: transparent;
                color: $textColor;
                background-image: url('data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTkiIGhlaWdodD0iMTkiIHZpZXdCb3g9IjAgMCAxOSAxOSIgZmlsbD0ibm9uZSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4KPHBhdGggZmlsbC1ydWxlPSJldmVub2RkIiBjbGlwLXJ1bGU9ImV2ZW5vZGQiIGQ9Ik0wIDBIMTlWMTlIMFYwWk0xIDFWMThIMThWMUgxWiIgZmlsbD0iIzEyMTIxMiIvPgo8cGF0aCBmaWxsLXJ1bGU9ImV2ZW5vZGQiIGNsaXAtcnVsZT0iZXZlbm9kZCIgZD0iTTEyIDEwSDdWOUgxMlYxMFoiIGZpbGw9ImJsYWNrIi8+Cjwvc3ZnPgo=');
            }
        }

        &:before {
            position: absolute;
            content: '';
            top: 50%;
            right: 0;
            transform: translateY(-50%);
            display: flex;
            align-items: center;
            justify-content: center;
            border: 1px solid $themeColor;
            color: $textColorThird;
            background-color: $themeColor;
            width: 1.9rem;
            height: 1.9rem;
            font-size: $text-2;
            line-height: 0.1;
            padding-bottom: 0.1rem;
            text-align: center;
            font-weight: 400;
            background-image: url('data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTkiIGhlaWdodD0iMTkiIHZpZXdCb3g9IjAgMCAxOSAxOSIgZmlsbD0ibm9uZSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4KPHBhdGggZD0iTTE5IDBIMFYxOUgxOVYwWiIgZmlsbD0iIzEyMTIxMiIvPgo8cGF0aCBmaWxsLXJ1bGU9ImV2ZW5vZGQiIGNsaXAtcnVsZT0iZXZlbm9kZCIgZD0iTTkgOVY1LjVIMTBWOUgxMy41VjEwSDEwVjEzLjVIOVYxMEg1LjVWOUg5WiIgZmlsbD0id2hpdGUiLz4KPC9zdmc+Cg==');
            background-position: center;
            background-size: cover;
            background-repeat: no-repeat;
        }
    }

    &__item-colapse-content {
        margin-top: 1rem;
        padding-bottom: 1rem;
        padding-left: 1.6rem;
    }
}