.spoller {
    padding-left: 0;
    margin-bottom: 0;
    display: flex;
    flex-direction: column;
    gap: 1rem;

    &__item-title {
        position: relative;
        cursor: pointer;

        &.active {
            &::before {
                content: '';
                color: $textColor;
                background-image: url('data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMjAiIGhlaWdodD0iMyIgdmlld0JveD0iMCAwIDIwIDMiIGZpbGw9Im5vbmUiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+CjxsaW5lIHkxPSIxLjUiIHgyPSIyMCIgeTI9IjEuNSIgc3Ryb2tlPSIjMTIxMjEyIiBzdHJva2Utd2lkdGg9IjMiLz4KPC9zdmc+Cg==');
            }
        }

        &:before {
            position: absolute;
            content: '';
            top: 50%;
            right: 0;
            transform: translateY(-50%);
            display: flex;
            align-items: center;
            justify-content: center;
            color: $textColorThird;
            width: 2rem;
            height: 2rem;
            font-size: $text-2;
            line-height: 0.1;
            padding-bottom: 0.1rem;
            text-align: center;
            font-weight: 400;
            background-image: url('data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMjAiIGhlaWdodD0iMjEiIHZpZXdCb3g9IjAgMCAyMCAyMSIgZmlsbD0ibm9uZSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4KPGxpbmUgeTE9IjEwLjUiIHgyPSIyMCIgeTI9IjEwLjUiIHN0cm9rZT0iIzEyMTIxMiIgc3Ryb2tlLXdpZHRoPSIzIi8+CjxwYXRoIGQ9Ik0xMCAwLjVMMTAgMjAuNSIgc3Ryb2tlPSIjMTIxMjEyIiBzdHJva2Utd2lkdGg9IjMiLz4KPC9zdmc+Cg==');
            background-position: center;
            background-size: contain;
            background-repeat: no-repeat;
        }
    }

    &__item-colapse-content {
        margin-top: 1rem;
        padding-bottom: 1rem;
        padding-left: 1.6rem;
    }
}