.ticker-logos {
    overflow: hidden;
    min-width: 0;

    & > .swiper {
        &:not(:first-child) {
            margin-top: 2rem;
        }

        &[dir="rtl"] {
            @media (min-width: $mq-lg) {
                display: none;
            }
        }
    }


    & .swiper-wrapper { 
        transition-timing-function:linear !important; 
    }

    & .swiper-slide {
        height: 3.2rem;
        width: auto;

        @media (min-width: $mq-md) {
            height: 6.2rem;
        }
    }
}

.ticker-logo {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
    transition: border-color $transition;
    padding: 0 2rem;

    @media (min-width: $mq-lg) {
        padding: 0 5rem;
    }

    & img {
        width: auto;
        height: 100%;
    }
}
